<!doctype html>
<html class="no-js" ng-app="vstford">

<head>
  <meta charset="utf-8">
  <title ng-bind-html="title"></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/bootstrap.min.css">
  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="styles/cssslider.css">
  <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css">
  <!--<script>-->
  <!--$(document).ready(function() {-->
  <!--$.material.init();-->
  <!--});-->
  <!--</script>-->
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!--<script type="text/javascript" src="js/style.min.js"></script>-->
  <!--<script type="text/javascript" src="js/style2.min.js"></script>-->
  <!-- endbuild -->
</head>

<body ng-controller="MainBaseCtrl">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!-- Add your site or application content here -->
<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <nav class="navbar navbar-primary" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
          <a class="navbar-brand" href="#">
            <img class="hidden-xs" src="images/logo.png" alt="">
            <img class="visible-xs" src="images/logo_small.png" alt="">
          </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="margin-top: 10px;">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#/main/home">Home</a>
            </li>
            <li>
              <a href="#/main/program">Program</a>
            </li>
            <li ng-show="claim_entry">
              <a href="#/main/claim">Claim Entry</a>
            </li>
            <!--<li ng-show="claim_entry_upload">-->
            <!--<a href="#/main/claim_upload">Claim Upload CSV</a>-->
            <!--</li>-->
            <!--<li ng-show="payment_upload">-->
            <!--<a href="#/main/payment_upload">Payment Upload CSV</a>-->
            <!--</li>-->
            <li ng-show="payment">
              <a href="#/main/payment">Payment Upload</a>
            </li>
            <!--<li>-->
            <!--<a href="#/main/my_claim">My Claim</a>-->
            <!--</li>-->
            <!--<li ng-show="redemption">-->
            <!--<a href="#/main/redemption">Redemption</a>-->
            <!--</li>-->
            <li ng-show="my_claims">
              <a href="#/main/my_claim">My Claims</a>
            </li>
            <li ng-show="reward">
              <a href="/rewards">Reward Gallery</a>
            </li>
            <li ng-show="prog_admin">
              <!--<a href="#/main/prog_admin">Prog Admin</a>-->
              <a href="#/main/prog_admin">Prog Admin</a>
            </li>
            <!--<li ng-show="prog_admin">-->
            <!--&lt;!&ndash;<a href="#/main/prog_admin">Prog Admin</a>&ndash;&gt;-->
            <!--<a href="#/main/upld_pos">Upload vs POS</a>-->
            <!--</li>-->
            <!--<li ng-if="type_of_user == 'annectos admin' || 'schneider admin'">-->
            <!--<!--<a href="#/main/prog_admin">Prog Admin</a>-->
            <!--<a href="#/main/prog_admin">Prog Admin</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="#/main/special">Special</a>-->
            <!--</li>-->
            <li class="dropdown">
              <a style="cursor:pointer" class="dropdown-toggle" data-toggle="dropdown">My Profile&nbsp;<strong class="caret info"></strong></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#/main/profile">Profile Info</a>
                </li>
                <!--<li ng-show="my_claims">-->
                <!--<a href="#/main/my_claim">My Claims</a>-->
                <!--</li>-->
                <li ng-show="redemption">
                  <a href="#/main/redemption">Redemption</a>
                </li>
                <!--<li>-->
                <!--<a href="#/main/changepass">Change Password</a>-->
                <!--</li>-->
                <li class="divider">
                </li>
                <li>
                  <a href="#/login/login">Logout</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
      <div ui-view></div>
      <div class="row clearfix">
        <div class="col-md-12 column">
          <footer style="  background:rgba(72, 141, 253, 0.843137);margin-top: 10px;padding: 16px;text-align: right;z-index: 3;height: 60px;">
            <p style="float:left">Version 2.0.0</p>
            <div style="float:right">
              <!--<img src="http://seep-digilink.in/images/cd1bf5eb.annectoslogo.png">-->
              <img src="images/annectoslogo.png">
            </div>
          </footer>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  (function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');
</script>
<!--[if lt IE 9]>
<!--<script src="bower_components/es5-shim/es5-shim.js"></script>-->
<!--<script src="bower_components/json3/lib/json3.min.js"></script>-->
<!--[endif]-->
<script src="lib/es5-shim.js"></script>
<script src="lib/json3.min.js"></script>
<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<!--<script src="bower_components/jquery/dist/jquery.js"></script>-->
<!--<script src="bower_components/angular/angular.js"></script>-->
<!--<script src="bower_components/json3/lib/json3.js"></script>-->
<!--<script src="bower_components/angular-resource/angular-resource.js"></script>-->
<!--<script src="bower_components/angular-cookies/angular-cookies.js"></script>-->
<!--<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>-->
<!--<script src="bower_components/angular-animate/angular-animate.js"></script>-->
<!--<script src="bower_components/angular-touch/angular-touch.js"></script>-->
<!--<script src="bower_components/angular-route/angular-route.js"></script>-->
<!--<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>-->
<!-- endbower -->
<!-- endbuild -->
<script src="lib/jquery.js"></script>
<script src="lib/angular.js"></script>
<script src="lib/json3.js"></script>
<!--<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>-->
<script src="lib/angular-resource.js"></script>
<script src="lib/angular-cookies.js"></script>
<script src="lib/angular-sanitize.js"></script>
<script src="lib/angular-animate.js"></script>
<script src="lib/angular-touch.js"></script>
<script src="lib/angular-route.js"></script>
<script src="lib/angular-ui-router.js"></script>
<script src="lib/underscore-min.js" type="text/javascript"></script>
<script src="lib/angular-highlightjs.js" type="text/javascript"></script>
<script src="lib/angular-csv-import.js" type="text/javascript"></script>
<!--<script src="bower_components/angular-csv-import/dist/angular-csv-import.js"></script>-->
<!--<script src="lib/focus.js"></script>-->
<!--<script src="bower_components/d3/d3.js"></script>-->
<script src="lib/angular-local-storage.min.js"></script>
<script src="lib/angular-file-upload.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
<!--<script src="lib/d3-serv.js"></script>-->
<!--<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>-->
<script src="http://d3js.org/d3.v2.js"></script>
<!--<script src="lib/d3.js"></script>-->
<script src="lib/nv.d3.js"></script>
<script src="lib/angularjs-nvd3-directives.js"></script>
<script src="lib/ng-radial-gauge-dir.js"></script>
<script src="branding/config.js"></script>
<script src="branding/menu.js"></script>
<script src="branding/ad.js"></script>
<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/about.js"></script>
<script src="scripts/controllers/main_base.js"></script>
<script src="scripts/controllers/login_base.js"></script>
<script src="scripts/controllers/login_login.js"></script>
<script src="scripts/controllers/my_profile.js"></script>
<script src="scripts/controllers/claim.js"></script>
<script src="scripts/controllers/program.js"></script>
<script src="scripts/controllers/myclaims.js"></script>
<script src="scripts/controllers/program_details.js"></script>
<script src="scripts/controllers/page.js"></script>
<script src="scripts/controllers/redemption.js"></script>
<script src="scripts/controllers/redemption_detail.js"></script>
<script src="scripts/controllers/change_pass.js"></script>
<script src="scripts/controllers/slider.js"></script>
<script src="scripts/controllers/lodercontroller.js"></script>
<script src="scripts/controllers/home.js"></script>
<script src="scripts/controllers/forget_password.js"></script>
<script src="scripts/controllers/reset_password.js"></script>
<script src="scripts/controllers/seep.js"></script>
<script src="scripts/controllers/payment_upload.js"></script>
<script src="scripts/controllers/payment.js"></script>
<script src="scripts/controllers/claim_upload.js"></script>
<script src="scripts/controllers/company.js"></script>
<script src="scripts/controllers/distributor.js"></script>
<script src="scripts/directives/CSVReader.js"></script>
<!--<script src="scripts/controllers/angular-carousel.js"></script>-->
<!--<script src="scripts/controllers/carousel.js"></script>-->
<script src="scripts/services/profile_service.js"></script>
<script src="scripts/services/util_service.js"></script>
<script src="scripts/services/loginservice.js"></script>
<script src="scripts/services/claim_service.js"></script>
<script src="scripts/services/master_service.js"></script>
<script src="scripts/services/notification_service.js"></script>
<script src="scripts/services/menu.js"></script>
<script src="scripts/services/crypto_service.js"></script>
<script src="scripts/services/payment_service.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-touch.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>
<!--<script src="js/style.min.js"></script>-->
<!--<script src="js/style2.min.js"></script>-->
<!-- endbuild -->
<div ng-controller="LoaderCtrl">
  <div class="locked" ng-show="loading">
    <div style="position:absolute; top: 18%; left: 33%;" class="lockedpanel">
      <div class="loading"><img src="./images/loader.gif"></div>
    </div>
  </div>
</div>
</body>

</html>
