<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column" style="  margin-left: -17px;">

      <div class="row clearfix">
        <div class="col-md-7 column">
          <h3>
            <strong>ABC</strong> Company Partner Program
          </h3>
          <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
           tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
           quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
           consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
           cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
           proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
        <div class="col-md-5 column">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Change Password</h3>
            </div>
            <div class="panel-body">
              <form role="form">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label><input type="email" class="form-control"
                                                                              id="exampleInputEmail1"
                                                                              ng-model="email_id">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Old Password</label><input type="password" class="form-control"
                                                                                id="exampleInputPassword1"
                                                                                ng-model="old_password">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">New Password</label><input type="password" class="form-control"
                                                                                id="exampleInputPassword1"
                                                                                ng-model="new_password">
                </div>
                <button type="submit" class="btn btn-info" ng-click="change_password();">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
