<div ui-view>
    <div class="shadowbox">
<div class="container" style="width: 100%">
    <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-6 column" style="width: 100%">
            <div class="tabbable" id="tabs-693581">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab">Invoice Upload</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <br><br>
	<div class="row clearfix">
		<div class="col-xs-12 col-sm-12 col-md-6 column" style="">
			<form role="form">
                <div class="form-group" ng-show="adminLogin">
                    <label for="exampleInputEmail1">Retailer Name</label>
                    <datalist id="part_code_list">
                        <option data-ng-repeat="opc in retailer_list" value="{{opc.participant_code}} - {{opc.name}} - {{opc._id}}">
                    </datalist>
                    <input type="text" class="form-control" data-ng-model="invo_data.ret_obj" list="part_code_list" placeholder="Retailer Name" title="Retailer Name" ng-keyup='get_auto_complete_retailer_values()' ng-blur="get_si_by_retailerid()" tabindex="4" >
                </div>
				<div class="form-group">
					 <label for="exampleInputEmail1">Invoice Number</label><input type="text" placeholder="Invoice Number" class="form-control" ng-model="invo_data.invoice_number" tabindex="1">
				</div>
				<div class="form-group">
					 <label>Invoice Amount</label><input type="number" class="form-control"  placeholder="Invoice Amount" ng-keydown="numeric_only($event)"  ng-model="invo_data.invoice_amount" tabindex="2">
				</div>
                <div class="form-group">
                    <label >Invoice Amount Excluding VAT</label><input type="number" class="form-control"  placeholder="Invoice Amount Excluding VAT" ng-keydown="numeric_only($event)"  ng-model="invo_data.invoice_amount_excl_vat" tabindex="3">
                </div>
			</form>
		</div>
		<div class="col-md-6 column">
			<form role="form">
                <div class="form-group" ng-show="adminLogin">
                    <label style="margin-top:0px;">SI</label>
                    <select class="form-control" ng-model="invo_data.si">
                        <option value="">Select SI</option>
                        <option ng-repeat="option in si_list" value="{{option}}">{{option.first_name}} {{option.last_name}}</option>
                    </select>
                </div>

				<div class="form-group" style="margin-bottom:0px;margin-left:0px;">
					 <label for="exampleInputEmail1">Invoice Date</label><br>
              <input type="text" class="form-control" style="display: inline-block;width:78%;background-color: transparent; border-style:solid !important; height:24px;margin-top:-18px;" datepicker-popup="dd/MM/yyyy" ng-model="invo_data.invoice_date" ng-disabled="true" is-open="$parent.opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions"  ng-required="true" close-text="Close">
            <span style="display: inline-block;">
            <button type="button" class="btn btn-default" style="padding: 2px 7px ! important;" ng-click="open($event)">
                <i class="glyphicon glyphicon-calendar"></i>
            </button>
            </span>
		  </div>

				<div class="form-group">
					 <label style="margin-top:0px;">Distributor</label>

                    <!--<datalist id="distributor_list">-->
                        <!--<option data-ng-repeat="odl in distributor_list" value="{{odl.name}} - {{odl.city}}">-->
                    <!--</datalist>-->


                    <!--<input type="text" style="width: auto;height: auto;margin-top:0px;" class="form-control"  data-ng-model="invo_data.retailer" list="distributor_list"  placeholder="Distributor" title="Distributor" ng-keyup='get_autocomplete_values()' tabindex="4">-->

          <select class="form-control" ng-model="invo_data.retailer">
            <option value="">Select Distributor</option>
            <!--<option  value="VST FORD - Bangalore">VST FORD - Bangalore</option>-->
            <option data-ng-repeat="odl in distributor_list" value="{{odl.name}} - {{odl.city}}">{{odl.name}} - {{odl.city}}</option>
          </select>
				</div>
				<div class="form-group" style="padding-bottom: 20px;">
					<label>Invoice Upload</label><input type="file" ng-file-select="onFileSelect($files)" tabindex="5">
				</div>
                <!--<div class="form-group">-->
                    <!--<label>File input</label><input type="file" ng-file-select="onFileSelect($files)">-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label>File input</label><input type="file" ng-file-select="onFileSelect($files)">-->
                <!--</div>-->
				<!--<div class="checkbox">-->
					 <!---->
				<!--</div> -->

                <button type="submit" class="btn btn-success"  data-ng-click="clear_field()">Add New Claim</button> &nbsp;<button type="submit" class="btn btn-success" data-ng-click="clear_field()">Cancel</button>&nbsp;<button type="submit" class="btn btn-success" ng-disabled="issaveenable" data-ng-click="save_invoice()">Save</button>
			</form>
		</div>
	</div>
        </div>
</div>

</div>


<div class="tree_conatiner" ng-show="list_pop_show" style="border: 1px solid #d0cfcf;width: 1012px; padding: 10px; height: 500px; position: fixed; z-index: 9999; left: 50%; top: 50%; margin-left: -506px; margin-top: -250px;background-color: #ffffff">
    <div class="close_btn" style="cursor: pointer" ng-click="pop_up_close()">
        X
    </div>
    <div class="container" style="width:900px;">
        <!--<div class="pagetitle tab_head">-->
            <!--SKU List-->
        <!--</div>-->
        <div class="row clearfix">
            <div class="col-md-12 column" style="  margin-left: -17px;">
                <div class="tabbable" id="tabs-693581">
                    <ul class="nav nav-tabs" style="width:900px;">
                        <li class="active">
                            <a data-toggle="tab">SKU List</a>
                        </li>

                    </ul>

                </div>
            </div>
        </div>

        <br />

        <div style="margin-top: 0px" class="profilepage">
            <div style="float: left" class="tablecolorborder">
                <div class="profileinfo pull-left">
                    <div class="leftsec pull-left">
                        <p>
                            <label style="display: inline-block; padding: 10px;">
                                SKU </label>
                            <input type="text" class="form-control"  placeholder=" SKU" ng-model="searchText">
                        </p>
                    </div>
                    <div class="leftsec pull-left">
                        <!--<p>-->
                        <!--<input type="button" data-ng-click="search_sku_list()" value="SKU Search" />-->
                        <!--</p>-->
                    </div>
                </div>


            </div>
        </div>
        <div style="clear: both"></div>
        <div style="overflow: auto ! important; height: 316px">

            <table class="table table-bordered">
                <thead >
                <tr>
                    <th style="background-color:#d0e9c6;">
                        SKU
                    </th>
                    <th style="background-color:#d0e9c6;">
                        Description
                    </th>

                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="sl in sku_list | filter:searchText">
                    <td>
                        {{sl.sku}}
                    </td>
                    <td>
                        {{sl.description }}
                    </td>


                </tr>


                </tbody>
            </table>
            <!--<table width="100%" style="overflow: auto ! important">-->
                <!--<tr class="trdiv">-->

                    <!--<td class="tddiv">-->
                        <!--SKU-->
                    <!--</td>-->
                    <!--<td class="tddiv">-->
                        <!--Description-->
                    <!--</td>-->


                <!--</tr>-->
                <!--<tr style="border-bottom:dashed #000 2px;height:30px;text-align: left ; " data-ng-repeat="sl in sku_list | filter:searchText">-->
                    <!--<td>{{sl.sku}}</td>-->
                    <!--<td>{{sl.description }}</td>-->
                <!--</tr>-->
            <!--</table>-->

        </div>
    </div>
</div>




