<div ui-view>
    <div class="shadowbox">
        <div class="container" style="width: 100%">
            <div class="row clearfix">
                <div class="col-xs-12 col-sm-12 col-md-6 column" style="width: 100%">
                    <div class="tabbable" id="tabs-693581">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab">INVOICE UPLOAD</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <br><br>

            <div ng-controller="MainCtrl" class="container">
                <div style="display: inline">
                    <h1>Select CSV file</h1>
                    <input type="file" on-read-file="showContent($fileContent)" />
                    <a href="http://home1.annectos.net/claim_process.csv" >Download CSV file</a>

                </div>

                <!--<div ng-if="content">-->
                <!--<h2>File content is:</h2>-->
                <!--<pre>{{ content }}</pre>-->
                <!--</div>-->
            </div>


            <table>
                <thead>
                <tr>

                    <th title="Serial Number" style="background-color:#5591F5;color: #fff;font-size: 12px;">
                        Serial Number
                    </th>
                    <th title="User Id" style="background-color:#5591F5;color: #fff;font-size: 12px;">
                        User Id
                    </th>
                    <th title="Retailer Name" style="background-color:#5591F5;color: #fff;font-size: 12px;">
                        Retailer Name
                    </th>
                    <th title="Invoice Number" style="background-color:#5591F5;color: #fff;font-size: 12px;">
                        Invoice Number
                    </th>
                    <th title="Invoice Number" style="background-color:#5591F5;color: #fff;font-size: 12px;">
                        Invoice Date
                    </th>

                    <th title="Distributor" style="background-color:#5591F5;color: #fff;font-size: 12px;">
                        Distributor
                    </th>
                    <th title="Amount"  style="background-color:#5591F5;color: #fff;font-size: 12px;">
                        Amount
                    </th>

                </tr>
                </thead>


                <tbody >
                <tr ng-class= pay.exist_in_db data-ng-repeat="pay in payment_arry  | orderBy:predicate:reverse">

                    <td>

                        {{$index+1}}
                    </td>
                    <td>
                        {{pay.user_id}}
                    </td>

                    <td>
                        {{pay.company_name}}
                    </td>

                    <td>
                        {{pay.invoice_number}}
                    </td>
                    <td>
                        {{pay.invoice_date}}
                    </td>
                    <td>
                        {{pay.retailer}}
                    </td>
                    <td>
                        {{pay.invoice_amount}}
                    </td>

                </tr>
                </tbody>
            </table>

            <style>
                thead,tbody{
                    width: 98%;
                    display: inline-block;
                }
                tr{
                    width: 117px;
                    border-top: 1px solid #000000;
                }
                tbody{
                    height: 100px;
                    overflow-y: scroll;
                }
                th,td{
                    width: 220px;
                }
            </style>

            <input type="button" class="btn btn-success" value="Process" ng-click="process_all_data()" style="margin-left:900px;margin-top:20px">

            </form>
        </div>
    </div>
</div>






