<div class="middlesection">
  <!-- heading area -->
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="tabbable" id="tabs-693581" ng-hide="ishidetab">
        <ul class="nav nav-tabs">
          <li class="active">
            <a data-toggle="tab">Points and Perfomance Dashboard</a>
          </li>
        </ul>
      </div>
      <div class="tabbable" id="tabs-693581" ng-hide="ishidetab1">
        <ul class="nav nav-tabs">
          <li class="active">
            <a data-toggle="tab">User Dashboard</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- heading area closed -->
  <br>
  <!-- First row starts here-->
  <div class="col-md-12">
    <!--left pane -->
    <div class="col-md-6 column">
      <div class="widget-container1">
        <div class="widget panel panel-default">
          <div class="widget-content panel-body" ng-hide="ishidenew">
            <h3>Welcome &nbsp<span> {{user.company_name}} </span>!</h3>
            <!--<h1>{{user.fullname}}</h1>-->
          </div>
          <div class="widget-content panel-body" ng-hide="ishide">
            <h2>Welcome &nbsp;<span> {{user.company_name}} </span>!</h2>
          </div>
        </div>
      </div>
    </div>
    <!--left pane-->
    <!-- right pane -->
    <div class="col-md-6 column" ng-hide="ishide">
      <div class="widget-container1">
        <div class="widget panel panel-default">
          <div id="ribbon">
            <span id="contentr">Total Points Earned</span>
          </div>
          <div class="widget-content panel-body">
            {{points_till_date}} Points
            <br />
            <span>Regular Program = {{total_amount}} points <br /> Special Program = {{bonus}} points</span>
          </div>
        </div>
      </div>
    </div>
    <!--right pane -->
  </div>
  <!-- first box row complete -->

  <!-- Second row starts here-->
  <div class="col-md-12">
    <!--left pane -->
    <div class="col-md-6 column" ng-hide="ishide">
      <div class="widget-container1">
        <div class="widget panel panel-default">
          <div id="ribbon">
            <span id="contentr">Total Points Earned</span>
          </div>
          <div class="widget-content panel-body">
            {{points_till_date}} Points
            <br />
            <span>Regular Program = {{total_amount}} points <br /> Special Program = {{bonus}} points</span>
          </div>
        </div>
      </div>
    </div>
    <!--left pane ends-->
    <!--right pane -->
    <div class="col-md-6 column" ng-hide="ishide">
      <div class="widget-container1">
        <div class="widget panel panel-default">
          <div id="ribbon">
            <span id="contentr">Total Points Earned</span>
          </div>
          <div class="widget-content panel-body">
            {{points_till_date}} Points
            <br />
            <span>Regular Program = {{total_amount}} points <br /> Special Program = {{bonus}} points</span>
          </div>
        </div>
      </div>
    </div>
    <!--right pane-->
  </div>
  <!-- second box row complete -->
</div>
