<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column" style="  margin-left: -17px;">
            <div class=" row clearfix">
                <div class="col-md-8 column">
                    <h3>
                        <strong>ABC</strong>  Company Partner Program
                    </h3>
                    <p>
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                     tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                     quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                     consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                     cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                     proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
                <div class="col-md-4 column" style="margin-top: 10px">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Forget Password</h3>
                        </div>
                        <div class="panel-body">
                            <form method="post">
                                <div class="form-group">
                                    <label>Registered Email ID</label><input class="form-control"  type="text" ng-model="email_id" />
                                </div>

                                <!--<a type="submit" class="btn btn-info" ng-click="login();">Submit</a>-->
                                <input type="submit" value="Submit" class="btn btn-info" ng-click="resetPassword();">
                                <br>
                                <div style="text-align: center">
                                    <a href="#/login/">Back to login</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div><br><br>
        </div>
    </div>
</div>