<!--<div class="container">-->
<!--<div class="row clearfix">-->
<!--<div class="col-md-12 column" style="  margin-left: -17px;">-->
<!--<div class="tabbable" id="tabs-693581">-->
<!--<ul class="nav nav-tabs">-->
<!--<li class="active">-->
<!--<a href="#panel-821406" data-toggle="tab">HOME</a>-->
<!--</li>-->
<!--</ul>-->
<!--<div class="tab-content">-->
<!--<div class="tab-pane active" id="panel-821406">-->
<!--<p>-->
<!--Home Content comes here-->
<!--</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<div class=" middlesection">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="tabbable" id="tabs-693581" ng-hide="ishidetab">
        <ul class="nav nav-tabs">
          <li class="active">
            <a data-toggle="tab">Points and Perfomance Dashboard</a>
          </li>
        </ul>
      </div>
      <div class="tabbable" id="tabs-693581" ng-hide="ishidetab1">
        <ul class="nav nav-tabs">
          <li class="active">
            <a data-toggle="tab">User Dashboard</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <br>
  <div class="homeleftContent ">
    <!--h1>Welcome &nbsp<span> {{user.fullname}} </span>! You have Normal Point <span> {{user.total_point}}</span> points approved and available to <a href="/rewards">redeem</a>.</h1>
<h1>Welcome &nbsp<span> {{user.fullname}} </span>!</h1>
<h1>Your Total Points Earned till date * = <span> {{points_till_date}}</span></h1>
<h1> <span ng-show="remain_points"> You are <span> {{next_slab}}</span> points away from the next Redemption Slab.</span></h1>
<h1>Your current point balance  = {{current_point}} </h1>
<h4> * Regular Program = {{total_amount}} points , Special Program = {{bonus}} points</h4>
<h1></h1>
</br-->
    <!--<h1> You have Normal Point <span> {{user.total_point}}</span> points approved and available to <a href="/rewards">redeem</a>.</h1>-->
    <!--<h1>(Regular Program = <span>{{user.credit_point_normal}}</span> points , Special Program = <span>{{user.credit_point_special}}</span> points)</h1>-->
    <!-- User DashBoard Changes Done by SUBHAJIT-->
    <div class="row clearfix">
      <div class="col-md-6 column">
        <div class="widget-container1">
          <div class="widget panel panel-default">
            <!--div id="ribbon" style="margin-left: -7px;">
<span id="contentr">Total Points Earned</span>
</div-->
            <div class="widget-content panel-body" ng-hide="ishidenew">
              <h1>Welcome &nbsp<span> {{user.company_name}} </span>!</h1>
              <h1>{{user.fullname}}</h1>
            </div>
            <div class="widget-content panel-body" ng-hide="ishide">
              <h1>Welcome &nbsp<span> {{user.company_name}} </span>!</h1>
              <h1>{{user.fullname}}</h1>
              <!--Your current point balance  = {{current_point}}<br />-->
              Total Points Earned </h1> = {{points_till_date}}
              <br /> Total Points Redeemed = {{redeemedPoints}}
              <br /> Total Current Point Balance = {{current_point_balance}}
              <br /> Total Lost Points = {{current_point_balance}}
              <br />
              <!--Your current point balance  = {{totalPts}}<br />-->
              You have <strong><span> {{user.total_point}}</span></strong> points approved and available to <a href="/rewards">redeem</a>.
              <br />
              <span ng-show="remain_points"> You are <strong><span> {{next_slab}}</span></strong> points away from the next Redemption Slab.</span>
              <br>
              <!--<span ng-show="remain_points"> You are <strong><span> {{away}}</span></strong> points away from the next Redemption Slab.</span><br>-->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 column" ng-hide="ishide">
        <div class="widget-container1">
          <div class="widget panel panel-default">
            <div id="ribbon">
              <span id="contentr">Total Points Earned</span>
            </div>
            <div class="widget-content panel-body">
              {{points_till_date}} Points
              <br />
              <span>Regular Program = {{total_amount}} points <br /> Special Program = {{bonus}} points</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-md-6 column" ng-hide="ishide">
        <div class="widget-container">
          <div class="widget panel panel-default">
            <div id="ribbon">
              <span id="contentr">Goal Meter</span>
            </div>
            <div class="widget-content panel-body">
              <div ng-show="points_till_date < max">
                <!--div class="labelling">
      You have completed <strong>{{(100*points_till_date/max)| number:0}}%</strong> of your goal
    </div-->
                <!--<wij-radialgauge value="{{(100*points_till_date/max)| number:0}}" max="100" min="0">-->
                <!--<ranges>-->
                <!--<range start-value="0" end-value="100" start-distance="0.64" end-distance="0.64" start-width="10" end-width="10" >-->
                <!--<style fill="Grey" stroke="none"></style>-->
                <!--</range>-->
                <!--<range start-value="40" end-value="60" start-distance="0.58" end-distance="0.58" start-width="10" end-width="10">-->
                <!--<style fill="Yellow" stroke="Yellow" stroke-width="1.5"></style>-->
                <!--</range>-->
                <!--<range start-value="60" end-value="80" start-distance="0.58" end-distance="0.58" start-width="10" end-width="10">-->
                <!--<style fill="Orange" stroke="Orange" stroke-width="1.5"></style>-->
                <!--</range>-->
                <!--<range start-value="80" end-value="100" start-distance="0.58" end-distance="0.58" start-width="10" end-width="10">-->
                <!--<style fill="Red" stroke="Red" stroke-width="1.5"></style>-->
                <!--</range>-->
                <!--</ranges>-->
                <!--</wij-radialgauge>-->
                <div class="gmcontain" ng-radial-gauge ranges="ranges" value="value" value-unit="unit" precision="precision" lower-limit="lowerLimit" upper-limit="upperLimit">
                </div>
              </div>
              <div ng-show="points_till_date > max">
                <!--div class="labelling">
        Percentage Covered determined as <strong>{{(100*points_till_date/max)| number:0}}%</strong> , greater than 100% as set goal is less than points achieved.
    </div-->
                <!--<wij-radialgauge value="{{(100*points_till_date/max)| number:0}}" max="500" min="100">-->
                <!--<ranges>-->
                <!--<range start-value="100" end-value="500" start-distance="0.64" end-distance="0.64" start-width="10" end-width="10" >-->
                <!--<style fill="Grey" stroke="none"></style>-->
                <!--</range>-->
                <!--<range start-value="200" end-value="300" start-distance="0.58" end-distance="0.58" start-width="10" end-width="10">-->
                <!--<style fill="Yellow" stroke="Yellow" stroke-width="1.5"></style>-->
                <!--</range>-->
                <!--<range start-value="300" end-value="400" start-distance="0.58" end-distance="0.58" start-width="10" end-width="10">-->
                <!--<style fill="Orange" stroke="Orange" stroke-width="1.5"></style>-->
                <!--</range>-->
                <!--<range start-value="400" end-value="500" start-distance="0.58" end-distance="0.58" start-width="10" end-width="10">-->
                <!--<style fill="Red" stroke="Red" stroke-width="1.5"></style>-->
                <!--</range>-->
                <!--</ranges>-->
                <!--<tickMajor interval="50"></tickMajor>-->
                <!--</wij-radialgauge>-->
                <div width="300" ng-radial-gauge ranges="ranges" value="value" value-unit="unit" precision="precision" lower-limit="lowerLimit" upper-limit="upperLimit">
                </div>
              </div>
              <div class="labelling" style="margin-top: 20px;">
                Percentage Covered determined as <strong>{{(100*points_till_date/max)| number:0}}%</strong>
                <div ng-show="points_till_date < max">
                  <div ng-show="max-points_till_date > 0">You still need <strong>{{max-points_till_date}}</strong> Points to reach Your Goal</div>
                </div>
              </div>
              <div style="width: 100%; float: left;" ng-show="(100*points_till_date/max) > 500">
                <div class="goal-meter goal-meter-horizontal">
                  <div class="goal-meter-track">
                    <div class="goal-meter-goal">
                      <div class="goal-meter-amount">{{max}}</div>
                    </div>
                    <div class="goal-meter-progress" style="width: 100%;padding: 6px;">
                      <div class="goal-meter-amount">
                                                <span style="color:black; white-space:nowrap;">
                                        {{points_till_date}}(Points achieved)

                                    </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div style="width: 100%; float: left;" ng-show="(100*points_till_date/max) < 500">
                <div style="width: 100%; float: left;" class="goal-meter goal-meter-horizontal">
                  <div class="goal-meter-track">
                    <div class="goal-meter-goal">
                      <div class="goal-meter-amount">{{max}}</div>
                    </div>
                    <div class="goal-meter-progress" style="width: {{((100*points_till_date/max)| number:0)/5}}%;padding: 6px;">
                      <div class="goal-meter-amount">
                                                <span style="color:black; white-space:nowrap;">
                                        {{points_till_date}}(Points achieved)

                                    </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--div class="goal-meter goal-meter-horizontal" ng-show="points_till_date < max">
      <div class="goal-meter-track">
          <div class="goal-meter-goal">
              <div class="goal-meter-amount">{{max}}</div>
          </div>
          <div class="goal-meter-progress" style="width: {{(100*points_till_date/max)| number:0}}%;padding: 6px;">
              <div class="goal-meter-amount">
                  <span style="color:black; white-space:nowrap;">
                      {{points_till_date}} (Points achieved)
                  </span>
              </div>
          </div>
      </div>

  </div-->
              <!--<wij-lineargauge value="{{(100*points_till_date/max)| number:0}}" height="60" width="400" max="500" min="0" ng-show="points_till_date > max">-->
              <!--<animation enabled="true" duration="400" easing=">"></animation>-->
              <!--<face>-->
              <!--<style fill="270-#FFFFFF-#D9E3F0" stroke="#7BA0CC" stroke-width="2"></style>-->
              <!--</face>-->
              <!--<labels>-->
              <!--<style fill="#1E395B" font-size="12" font-weight="800"></style>-->
              <!--</labels>-->
              <!--<pointer shape="rect" length="0.6">-->
              <!--<style fill="#1E395B" stroke="#7BA0CC" stroke-width="1" opacity="1"></style>-->
              <!--</pointer>-->
              <!--<tickMajor interval="100"></tickMajor>-->
              <!--</wij-lineargauge>-->
              <!--<div>-->
              <!--<nvd3-bullet-chart-->
              <!--data="exampleData"-->
              <!--id="toolTipExample"-->
              <!--margin="{left:75,top:60,bottom:60,right:10}"-->
              <!--width="350"-->
              <!--height="160"-->
              <!--interactive="true"-->
              <!--tooltips="true">-->
              <!--<svg></svg>-->
              <!--</nvd3-bullet-chart>-->
              <!--</div>-->
              <!--progressbar max="max" value="user.total_point"><span style="color:black; white-space:nowrap;">{{user.total_point}} / {{max}}</span></progressbar-->
              <!--div class="progress-bar progress-bar-success" ng-show="points_till_date > max" role="progressbar" aria-valuenow="{{max}}" aria-valuemin="0" aria-valuemax="{{max}}" style="width: 100%;padding: 6px;">
      <span style="color:black; white-space:nowrap;">
          {{points_till_date}} / {{max}}
          The percentage is > 100%
      </span>
  </div>
  <div class="progress-bar progress-bar-success" ng-show="points_till_date < max" role="progressbar" aria-valuenow="{{max}}" aria-valuemin="0" aria-valuemax="{{max}}" style="width: {{(100*points_till_date/max)| number:0}}%;padding: 6px;">
      <span style="color:black; white-space:nowrap;">
          {{points_till_date}} / {{max}}
          The percentage is {{(100*points_till_date/max)| number:0}}%
      </span>
  </div-->
              <div class="notification warn" ng-show="points_till_date > max">
                Your Points are higher than Set Goal
              </div>
              <div class="alert alert-success" ng-show="showSuccessAlert">
                <button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')">×</button> <strong>Done!</strong> {{successTextAlert}}
              </div>
              <div class="alert alert-error" ng-show="showErrorAlert">
                <button type="button" class="close" data-ng-click="switchBool('showErrorAlert')">×</button>{{errorTextAlert}}
              </div>
              <div ng-init="checked=false" style="margin-top: 50px;">
                <label>
                  <input type="checkbox" ng-model="checked" style="float:left; margin-right:10px;"> Set Your Goal
                </label>
                <div class="check-element sample-show-hide" ng-show="checked" style="clear:both;">
                  <input type="text" name="customgoal" id="customgoal" ng-model="goal" class="txt" ng-keydown="numeric_only($event)" placeholder="Set Customized Goal">
                  <input type="submit" name="submit" value="Customize It" ng-click="submit_Goal()" class="viewButtonSata">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 column" ng-hide="ishide">
        <div class="widget-container" style="width: 100%">
          <div class="widget panel panel-default">
            <div id="ribbon" style="margin-left: -22px;">
              <span id="contentr">Sale Value Break Up</span>
            </div>
            <div class="widget-content panel-body pcrt">
              <nvd3-pie-chart id="exampleId" data="exampleData" x="xFunction()" y="yFunction()" width="{{ width }}" height="{{ height }}" showLabels="true" pieLabelsOutside="true" showValues="true" labelType="percent" showLegend="true" tooltips="true">
                <svg></svg>
              </nvd3-pie-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="row clearfix">
  <div class="col-md-6 column" ng-hide="ishide">
    <div class="widget-container1">
      <div class="widget panel panel-default">
        <div id="ribbon">
          <span id="contentr">Total Sale Value</span>
        </div>
        <div class="widget-content panel-body">
          <img src="images/india.png" style="height: 15px; width: 12px;" /> {{ttl_sale_value | number:2}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 column" ng-hide="ishide">
    <div class="widget-container1" style="width: 100%">
      <div class="widget panel panel-default">
        <div id="ribbon">
          <span id="contentr">Invoice Stats (Last 30 days)</span>
        </div>
        <div class="widget-content panel-body">
          <div class="box-info1">
            {{dataCount}}, invoice(s) were uploaded Last Month
            <img src="images/arrow-39.png" style="width: 40px;" />
          </div>
          <!--<div class="box-info" ng-repeat="specificData in allData">-->
          <!--Invoice Amount: <strong>{{specificData.invoiceAmount|number:0}}</strong>-->
          <!--Invoice Date: <strong>{{specificData.invoiceDate|date :"dd/MM/yyyy"}}</strong>-->
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row clearfix">
  <div class="col-md-6 column" ng-hide="ishide">
    <div class="widget-container">
      <div class="widget panel panel-default">
        <div id="ribbon">
          <span id="contentr">Redeemed Details</span>
        </div>
        <div class="widget-content panel-body">
          {{redeemedPoints}} Points Were Redeemed
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 column" ng-hide="ishide">
    <div class="widget-container">
      <div class="widget panel panel-default">
        <div id="ribbon">
          <span id="contentr">Your  Ranking</span>
        </div>
        <div class="widget-content panel-body">
          You are ranked <strong>{{rankIndexIndia}}</strong> out of <strong>{{totalIndiaSi}}</strong> participants
          <!--div class="usereportmain" ng-repeat="topnation in topperNational | limitTo: numLimit">
          <div class="usereportleft">
              <div class="numb">{{$index + 1}}</div>
              {{topnation.retailer}}
          </div>
          <div class="usereportrgt">

          </div>
      </div-->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row clearfix">
  <div class="col-md-6 column" ng-hide="ishide">
    <div class="widget-container">
      <div class="widget panel panel-default">
        <!--<div id="ribbon">-->
        <!--<span id="contentr">Region-wise Ranking</span>-->
        <!--</div>-->
        <!--<div class="widget-content panel-body">-->
        <!--&lt;!&ndash;{{rankIndex}} ranking over {{totalRegionSi}}&ndash;&gt;-->
        <!--You are ranked <strong>{{rankIndex}}</strong> out of <strong>{{totalRegionSi}}</strong> participants-->
        <!--</div>-->
      </div>
    </div>
  </div>
  <div class="col-md-6 column" ng-hide="ishide">
    <div class="widget-container">
      <div class="widget panel panel-default">
        <div id="ribbon">
          <span id="contentr">Goal Points Details</span>
        </div>
        <div class="widget-content panel-body" ng-show="max">
          {{max}} has been set as your Goal
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row clearfix">
  <div class="col-md-6 column">
    <!--<div class="widget-container">-->
    <!--<div class="widget panel panel-default">-->
    <!--<div id="ribbon">-->
    <!--<span id="contentr">Other Details</span>-->
    <!--</div>-->
    <!--<div class="widget-content panel-body" ng-repeat="addressAndZone in userAddressZone">-->
    <!--Zone: {{addressAndZone.region}}<br />-->
    <!--Address: {{addressAndZone.address}}-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
  </div>
  <div class="col-md-6 column">
    <div class="widget-container">
      <div class="widget panel panel-default">
        <!--<div id="ribbon">-->
        <!--<span id="contentr">More Details</span>-->
        <!--</div>-->
        <!--<div class="flip">-->
        <!--<div class="card" ng-class="{'flipped':isFlipped}" ng-click="isFlipped=!isFlipped">-->
        <!--<div class="face front">-->
        <!--<table>-->
        <!--<tr ng-repeat="addressAndZone in userAddressZone">-->
        <!--<td><strong>Mobile No:</strong></td>-->
        <!--<td>{{addressAndZone.mobile_no}}</td>-->
        <!--</tr>-->
        <!--<tr ng-repeat="addressAndZone in userAddressZone">-->
        <!--<td><strong>Registration Date:</strong></td>-->
        <!--<td>{{addressAndZone.registration_date|date :"dd/MM/yyyy"}}</td>-->
        <!--</tr>-->
        <!--</table>-->
        <!--<p align="right">-->
        <!--Flip to know more..-->
        <!--</p>-->
        <!--</div>-->
        <!--<div class="face back" ng-repeat="addressAndZone in userAddressZone">-->
        <!--<div ng-show="addressAndZone.dob != null && addressAndZone.doj != null">-->
        <!--<div class="serial">-->
        <!--Your KYC has been done-->
        <!--</div>-->
        <!--<p align="right">-->
        <!--Flip to know more..-->
        <!--</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
      </div>
    </div>
  </div>
</div>
<!--div class="widget-container">
    <div class="widget panel panel-default">
        <div class="widget-header panel-heading">
            <h3 class="panel-title">
                Goal Meter
            </h3>
        </div>
        <div class="flip">
            <div class="card" ng-class="{'flipped':isFlipped}" ng-click="isFlipped=!isFlipped">
                <div class="face front">
                    <progressbar max="max" value="dynamic"><span style="color:black; white-space:nowrap;">{{dynamic}} / {{max}}</span></progressbar>
                </div>
                <div class="face back">
                    <input type="text" name="customgoal" id="customgoal" class="txt" placeholder="Set Customized Goal Value">
                    <input type="submit" name="submit" value="Customize It" class="viewButtonSata">
                </div>
            </div>
        </div>
    </div>
</div-->
<!-- User DashBoard changes Completed-->
<br>
<br>
<!--h1><span>FGPPP</span> 2014 Ford Genuine Parts Partner Program</h1>
<p>
    Schneider Electric India welcomes you to a loyalty program, framed exclusively for System
    Integrators PAN India coined as Ford Genuine Parts Partner Program (FGPPP). In this program, you will earn benefits in the form of rewards by selling more Digilink & Actassi products in the market place.</p-->
</div>
<!--<div> You have Points <span> {{total_point}}</span> Your need <span>{{remaining_points}}</span> points to reach the next slab </div>-->
</div>
<!--h1><span>FGPPP</span> 2014 Ford Genuine Parts Partner Program</h1>
<p>
    Schneider Electric India welcomes you to a loyalty program, framed exclusively for System
    Integrators PAN India coined as Ford Genuine Parts Partner Program (FGPPP). In this program, you will earn benefits in the form of rewards by selling more Digilink & Actassi products in the market place.</p-->
