<div class="shadowbox">
<div class="col-xs-12 col-sm-12 col-md-12 column" style="width: 100%;">
    <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 column" style="width: 100%;">
            <div class="tabbable" id="tabs-693581">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab">My Claims</a>
                    </li>

                </ul>

            </div>
        </div>
    </div><br>
	<div class="row clearfix">
		<div class="col-xs-12 col-sm-12 col-md-12 column" style="overflow-x:scroll;">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th title="Invoice Number" style="background-color:#5591F5;color: #fff;font-size: 12px;">
                            In.No
						</th>
						<th title="Invoice Date" style="background-color:#5591F5;color: #fff;font-size: 12px;">
                            In.Date
                        </th>
						<th title="Invoice Total"  style="background-color:#5591F5;color: #fff;font-size: 12px;">
                            In.Total
						</th>
                        <th title="Invoice Total"  style="background-color:#5591F5;color: #fff;font-size: 12px;">
                            In.Total_Excluding_VAT
                        </th>
						<th title="Invoice Status"  style="background-color:#5591F5;color: #fff;font-size: 12px;">
							Status
						</th>
                        <th title="Invoice Status"  style="background-color:#5591F5;color: #fff;font-size: 12px;">
                            Payment Received
                        </th>
						<th title="Invoice Details"style="background-color:#5591F5;color: #fff;font-size: 12px;">
                           Details
						</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="inv in invoice  | orderBy:predicate:reverse">
						<td>
                            <!--{{inv.invoice_number}}-->

                       <a style="color: #000000 !important;cursor: pointer" ng-click="download_invoice(inv.supporting_doc);" title="Check Uploaded Invoice"> {{inv.invoice_number}} </a>
						</td>
						<td>
                            {{inv.invoice_date | date :"dd/MM/yyyy" }}
						</td>
						<td>
                            {{inv.invoice_amount}}
						</td>
                        <td>
                            {{inv.invoice_amount_excl_vat}}
                        </td>
						<td>
                            {{inv.status}}
						</td>
                        <td>
                            {{inv.payment_received}}
                        </td>
						<td>
                            <span style="cursor: pointer" class="glyphicon glyphicon-zoom-in" ng-click= "invoice_details_by_number(inv.claim_id)" ></span>
                            <!--<button type="button" class="btn btn-success" ng-click= "invoice_details_by_number(inv.claim_id)" >View</button>-->
						</td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>

    <div>
       <b>To View Uploaded Invoice, Click on the Invoice Number *</b>
    </div>

    <br><br>
</div>
    </div>


<div class="tree_conatiner" ng-show="pop_show" style="border: 1px solid #d0cfcf;width: 88%; padding: 10px; height: 500px; position: fixed; z-index: 9999; left: 5%; top: 10%; margin-left: 0px; margin-top: 0px;background-color: #ffffff"  >
    <div class="close_btn" style="cursor: pointer" ng-click="pop_up_close()">
        X
    </div>
    <div class="container" style="width:100%">
        <div class="row clearfix">
            <div class="col-md-12 column" style="  margin-left: -1px;">
                <div class="tabbable" id="tabs-693581">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab">SKU Details</a>
                        </li>

                    </ul>

                </div>
            </div>
        </div>
        <br />
        <table class="table table-bordered">
            <thead>
            <tr>
                <th style="background-color:#5591F5;color: #fff;">
                   SKU
                </th>
                <th style="background-color:#5591F5;color: #fff;">
                   Status
                </th>


            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="cl in sku_deatils">
                <td>
                    {{cl.sku}}
                </td>
                <td>
                    {{cl.status}}
                </td>


            </tr>


            </tbody>
        </table>
    </div>
    <div class="container" style="width:100%">
        <div class="pagetitle tab_head">
           <b>Comment History</b>
        </div>
        <br />
        <table class="table table-bordered">
            <thead>
            <tr>
                <th style="background-color:#5591F5;color: #fff;">
                    Date
                </th>
                <th style="background-color:#5591F5;color: #fff;">
                    Time
                </th>
                <th style="background-color:#5591F5;color: #fff;">
                    User
                </th>
                <th style="background-color:#5591F5;color: #fff;">
                    Previous Comments
                </th>

            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="cl in comment_list">
                <td>
                    {{cl.comment_date| date :"dd/MM/yyyy"}}
                </td>
                <td>
                    {{cl.comment_date |date:'h:mm a' }}
                </td>
                <td>
                    {{cl.user_type}}
                </td>
                <td>
                    {{cl.comments}}
                </td>

            </tr>


            </tbody>
        </table>
        <!--<table width="100%">-->
            <!--<tr class="trdiv">-->

                <!--<td class="tddiv">-->
                    <!--Date-->
                <!--</td>-->
                <!--<td class="tddiv">-->
                    <!--Time-->
                <!--</td>-->
                <!--<td class="tddiv">-->
                    <!--User-->
                <!--</td>-->
                <!--<td class="tddiv">-->
                    <!--Previous Comments-->
                <!--</td>-->


            <!--</tr>-->
            <!--<tr style="border-bottom:dotted #000 2px;height:30px;text-align: left" data-ng-repeat="cl in comment_list">-->
                <!--<td>{{cl.comment_date| date :"dd/MM/yyyy"}}</td>-->
                <!--<td>{{cl.comment_date |date:'h:mm a' }}</td>-->
                <!--<td>{{cl.user_type}}</td>-->
                <!--<td>{{cl.comments}}</td>-->

            <!--</tr>-->
        <!--</table>-->
    </div>
</div>
