<div ui-view>
    <div class="shadowbox">
        <div class="container" style="width: 100%">
            <div class="row clearfix">
                <div class="col-xs-12 col-sm-12 col-md-6 column" style="width: 100%">
                    <div class="tabbable" id="tabs-693581">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab">Payment Upload</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <br><br>

            <div ng-controller="MainCtrl" class="container">
                <div style="display: inline">
                <h1>Select CSV file</h1>
                <input type="file" on-read-file="showContent($fileContent)" />
                    <br>
                    <a href="http://home1.annectos.net/payment_process.csv" >Download Required CSV Format</a>
                </div>


                <!--<div ng-if="content">-->
                    <!--<h2>File content is:</h2>-->
                    <!--<pre>{{ content }}</pre>-->
                <!--</div>-->
            </div>

            <br>




            <!--<div class="row clearfix">-->
                <!--<div class="col-xs-12 col-sm-12 col-md-12 column " >-->
                    <!--<table class="table table-bordered ">-->
                        <!--<thead>-->
                        <!--<tr>-->
                            <!--<th title="Serial Number" style="background-color:#5591F5;color: #fff;font-size: 12px;">-->
                                <!--Serial Number-->
                            <!--</th>-->
                            <!--<th title="Invoice Number" style="background-color:#5591F5;color: #fff;font-size: 12px;">-->
                                <!--Invoice Number-->
                            <!--</th>-->
                            <!--<th title="Retailer Name" style="background-color:#5591F5;color: #fff;font-size: 12px;">-->
                                <!--Retailer Name-->
                            <!--</th>-->
                            <!--<th title="Payment Date"  style="background-color:#5591F5;color: #fff;font-size: 12px;">-->
                                <!--Payment Date-->
                            <!--</th>-->
                            <!--<th title="Amount Received"  style="background-color:#5591F5;color: #fff;font-size: 12px;">-->
                                <!--Amount Received-->
                            <!--</th>-->
                            <!--<th title="Payment Received"  style="background-color:#5591F5;color: #fff;font-size: 12px;">-->
                                <!--Payment Received-->
                            <!--</th>-->

                        <!--</tr>-->
                        <!--</thead>-->

                        <!--<tbody style="overflow-y: scroll;height:10px">-->

                        <!--<div >-->
                        <!--<tr data-ng-repeat="pay in payment_arry  | orderBy:predicate:reverse">-->

                            <!--<td>-->

                                <!--{{$index+1}}-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--{{pay.invoice_number}}-->
                            <!--</td>-->

                            <!--<td>-->
                                <!--{{pay.retailer_name}}-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--{{pay.payment_date | date :"dd/MM/yyyy" }}-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--{{pay.amount_received}}-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--{{pay.payment_received}}-->
                            <!--</td>-->

                        <!--</tr>-->
                        <!--</div>-->


                        <!--</tbody>-->



                    <!--</table>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="block right">-->
                <!--<ng-csv-import-->
                        <!--class="import"-->
                        <!--content="csv.content"-->
                        <!--header="csv.header"-->
                        <!--header-visible="csv.headerVisible"-->
                        <!--separator="csv.separator"-->
                        <!--separator-visible="csv.separatorVisible"-->
                        <!--result="csv.result"-->
                        <!--encoding="csv.encoding"-->
                        <!--encoding-visible="csv.encodingVisible"></ng-csv-import>-->
            <!--</div>-->

            <!--<div class="block row"  ng-if="csv.result">-->
                <!--<div class="content" hljs source="toPrettyJSON(csv.result, 2)"></div>-->
            <!--</div>-->

            <table>
                        <thead>
                        <tr>

                            <th title="Serial Number" style="background-color:#5591F5;color: #fff;font-size: 12px;">
                                Serial Number
                            </th>
                            <th title="Invoice Number" style="background-color:#5591F5;color: #fff;font-size: 12px;">
                                Invoice Number
                            </th>

                            <th title="Retailer Name" style="background-color:#5591F5;color: #fff;font-size: 12px;">
                                Retailer Name
                            </th>
                            <th title="Payment Date"  style="background-color:#5591F5;color: #fff;font-size: 12px;">
                                Payment Date
                            </th>
                            <th title="Amount Received"  style="background-color:#5591F5;color: #fff;font-size: 12px;">
                                Amount Received
                            </th>
                            <th title="Payment Received"  style="background-color:#5591F5;color: #fff;font-size: 12px; min-width: 175px">
                                Payment Received
                            </th>

                        </tr>
                        </thead>


                            <tbody >
                                <tr ng-class= pay.exist_in_db data-ng-repeat="pay in payment_arry  | orderBy:predicate:reverse">

                                    <td>
                                        {{$index+1}}
                                    </td>
                                    <td>
                                        {{pay.invoice_number}}
                                    </td>

                                    <td>
                                        {{pay.retailer_name}}
                                    </td>
                                    <td>
                                        {{pay.payment_date | date :"dd/MM/yyyy" }}
                                    </td>
                                    <td>
                                        {{pay.amount_received}}
                                    </td>
                                    <td>
                                        {{pay.payment_received}}
                                    </td>

                                </tr>
                              </tbody>
                            </table>


<style>
    thead,tbody{
        width: 102%;
        display: inline-block;
    }
    tr{
        width: 117px;
        border-top: 1px solid #000000;
    }
    tbody{
        height: 150px;
        overflow-y: scroll;
    }
    th,td{
        width: 175px;
    }
</style>

 <input type="button" class="btn btn-success" value="Process" ng-click="process_all_data()" style="margin-left:900px;margin-top:20px">

 </form>
 </div>
 </div>
 </div>






