<div ui-view>
  <div class="shadowbox">
    <div class="container" style="width: 100%">
      <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-6 column" style="width: 100%">
          <div class="tabbable" id="tabs-693581">
            <ul class="nav nav-tabs">
              <li class="active">
                <a data-toggle="tab">Update Payment Information</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-6 column" style="">
          <form role="form">
            <div class="form-group">
              <label for="exampleInputEmail1">Retailer Name</label>
              <datalist id="part_code_list">
                <option data-ng-repeat="opc in retailer_list" value="{{opc.retailer_code}} - {{opc.retailer_name}}">
              </datalist>
              <input type="text" class="form-control" data-ng-model="invo_data.retailer_name" list="part_code_list" placeholder="Retailer Name" title="Retailer Name" ng-keyup='get_auto_complete_retailer_values()' ng-blur="populate_invoice_number()" tabindex="4">

              <!--<datalist id="distributor_list">-->
                <!--<option data-ng-repeat="odl in retailer_list" value="{{odl.retailer_code}}">-->
              <!--</datalist>-->
              <!--<input type="text" placeholder="Retailer Name" class="form-control" id="exampleInputEmail1" ng-model="invo_data.retailer_name" list="distributor_list" ng-keyup='get_auto_complete_retailer_values()' ng-blur="populate_invoice_number()" placeholder="Retailer Name" title="Retailer Name">-->
              <button type="submit" class="btn btn-success" data-ng-click="check_invoices()">Check Invoices</button>&nbsp;
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Invoice Number</label>
              <datalist id="invoice_list">
                <option data-ng-repeat="odl in invoice_list" value="{{odl.invoice_number}}">
              </datalist>
              <input type="text" style="width: auto;height: auto;margin-top:0px;" class="form-control" data-ng-model="invo_data.invoice_number" list="invoice_list" ng-blur="details()" ng-keyup='get_autocomplete_values_for_invoice()' placeholder="Invoice Number" title="Invoice Number">
            </div>
            <div class="form-group">
              <label>Invoice Date</label>
              <input type="text" class="form-control" ng-disabled="true" placeholder="Invoice Date" ng-model="invo_data.invoice_date">
            </div>
            <div class="form-group">
              <label>Invoice Amount </label>
              <input type="number" class="form-control" ng-disabled="true" placeholder="Invoice Amount" ng-keydown="numeric_only($event)" ng-model="invo_data.invoice_amount">
            </div>
          </form>
        </div>
        <div class="col-md-6 column">
          <form role="form">
            <div class="form-group" style="margin-bottom:0px;margin-left:0px;">
              <label for="exampleInputEmail1">Payment Date</label>
              <br>
              <input type="text" class="form-control" style="display: inline-block;width:78%;background-color: transparent; border-style:solid !important; height:24px;margin-top:-18px;" datepicker-popup="dd/MM/yyyy" ng-model="invo_data.payment_date" ng-disabled="true" is-open="$parent.opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" ng-required="true" close-text="Close">
                            <span style="display: inline-block;">
                <button type="button" class="btn btn-default" style="padding: 2px 7px ! important;" ng-click="open($event)">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </div>
            <div class="form-group" style="padding-bottom: 20px;">
              <label>Payment Received</label>
              <input type="checkbox" ng_model="invo_data.payment_received" ng-checked="checking">
            </div>
            <div class="form-group">
              <label>Amount Received</label>
              <input type="number" class="form-control" placeholder="Amount Received" title="Amount Received" ng-keydown="numeric_only($event)" ng-model="invo_data.amount_received">
            </div>
            <div class="form-group">
              <label>Comment</label>
              <input type="text" class="form-control" placeholder="Comment" ng-model="invo_data.payment_comment">
            </div>
            <button type="submit" class="btn btn-success" data-ng-click="save_payment()">Save</button>&nbsp;
            <button type="submit" class="btn btn-success" data-ng-click="clear_field()">Cancel</button> &nbsp;
            <button type="submit" class="btn btn-success" data-ng-click="clear_field()">Add New Payment</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="tree_conatiner ovrlay" ng-show="invoice_details_pop_show" style="border: 1px solid #d0cfcf;width: 1012px; padding: 10px; height: 500px; position: fixed; z-index: 9999; left: 50%; top: 50%; margin-left: -506px; margin-top: -250px;background-color: #ffffff">
  <div class="close_btn" style="cursor: pointer" ng-click="invoice_pop_up_close()">
    X
  </div>
  <div>
    <div class="row clearfix">
      <div class="col-md-12 column" style="  margin-left: 16px;">
        <div class="tabbable" id="tabs-693581">
          <ul class="nav nav-tabs" style="width:958px;">
            <li class="active">
              <a data-toggle="tab">Invoice Details</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <br />
    <div style="clear: both"></div>
    <div style="overflow: auto ! important; height: 342px">
      <div style="margin-top: 0px" class="profilepage">
        <div style="float: left" class="tablecolorborder">
          <div class="profileinfo pull-left">
            <div class="leftsec pull-left">
              <p>
                <label style="display: inline-block; padding: 10px;">
                  SEARCH </label>
                <input type="text" placeholder="Search" ng-model="searchvalue">
              </p>
            </div>
            <div class="leftsec pull-left">
            </div>
          </div>
        </div>
      </div>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th style="background-color:#5591F5;color: #fff;">
            SELECT
          </th>
          <th style="background-color:#5591F5;color: #fff;">
            INVOICE NUMBER
          </th>
          <th style="background-color:#5591F5;color: #fff;">
            INVOICE AMOUNT(₹)
          </th>
          <th style="background-color:#5591F5;color: #fff;">
            INVOICE DATE
          </th>
          <th style="background-color:#5591F5;color: #fff;">
            RETAILER NAME
          </th>
          <th style="background-color:#5591F5;color: #fff;">
            USER ID
          </th>
          <th style="background-color:#5591F5;color: #fff;">
            STATUS
          </th>
          <th style="background-color:#5591F5;color: #fff;">
            PAYMENT STATUS
          </th>
        </tr>
        </thead>
        <tbody>
        <tr style="border-bottom:dotted #000 2px;height:30px;text-align: center ; " data-ng-repeat="inv in invoice_list | filter:searchvalue">
          <td>
            <input type="radio" ng-click="pop_inv_data(inv)">
          </td>
          <td>
            {{inv.invoice_number}}
          </td>
          <td>
            {{inv.invoice_amount | number}}
          </td>
          <td>
            {{inv.invoice_date | date :"dd/MM/yyyy"}}
          </td>
          <td>
            {{inv.retailer_name}}
          </td>
          <td>
            {{inv.user_id}}
          </td>
          <td>
            {{inv.payment_received === "Y" ? "Payment Received" : "Payment Not Received"}}
          </td>
          <td>
            {{inv.status}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
