<head>
    <!--<script>-->
        <!--$('#addInputs').click(function() {-->
            <!--for (var i = 0; i <1; i++) {-->
            <!--$('#inputList').append('<input type="text" class="form-control" id="exampleInputEmail1" ng-model="profile_data.schneider_brands"/>');-->
        <!--}-->
        <!--});-->

    <!--</script>-->

    <!--<script>-->
        <!--$('#addInput').click(function() {-->
            <!--for (var i = 0; i <1; i++) {-->
                <!--$('#input_List').append('<input type="text" class="form-control" id="exampleInputEmail1" ng-model="profile_data.non_schneider_brands"/>');-->

            <!--}-->
        <!--});-->

    <!--</script>-->
</head>

<div class="shadowbox" xmlns="http://www.w3.org/1999/html">

    <div class="row clearfix">
        <div class="col-md-12 column" >
            <div class="tabbable" id="tabs-693581">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab">My Profile</a>
                    </li>

                </ul>

            </div>
        </div>
    </div><br>
<div class="">
	<div class="row clearfix">
		<div class="col-md-6 column" style="">
			<form role="form">
			    <div class="form-group">
					 <label for="firstname">First Name</label><input type="text" class="form-control" id="firstname" ng-model="profile_data.first_name">
				</div>
				<div class="form-group">
					 <label for="exampleInputEmail1">Email address</label><input type="email" class="form-control" id="exampleInputEmail1" ng-model="profile_data.email_id" readonly="readonly">
				</div>
			<div class="form-group">
		       <div  style="padding:13px 5px;">
                   <input  type="radio" name="optradio" ng-model="profile_data.gender" value="0"> <label>Male</label>&nbsp;&nbsp;

                   <input  type="radio" name="optradio" ng-model="profile_data.gender" value="1"><label>Female</label>
				</div>
                <!--<div  style="padding:17px 5px;">-->
                    <!--<input  type="radio" name="optradio" ng-model="profile_data.gender" value="1"><label>Female</label>-->
                <!--</div>-->
            </div>
				<div class="form-group">
					 <label for="exampleInputEmail1">Company Founded Date</label><input type="text" class="form-control" id="exampleInputEmail1" ng-model="profile_data.comp_found_date">
				</div>

                <!--added by Mahiruddin on date 18/05/2015-->
                <div class="form-group">
                    <label for="exampleInputEmail1">Personal Interests</label><input type="text" class="form-control" id="exampleInputEmail1" ng-model="profile_data.personal_interests">
                </div>
                <div class="form-group" id="input_List">
                    <label for="exampleInputEmail1">Non ABC Brands dealing with</label>
                    <div class="frotate">
                    <input type="text" class="form-control" id="exampleInputEmail1" ng-model="profile_data.non_schneider_brands">
                    <button class="frotate_cross btn-success buttun_class" ng-click="addItem2()">Add More Field</button>
                    </div>
                </div>



                <div ng-hide="non_custom_data" style="width:100%; background-color: lightcyan">
                    <table>
                        <tr ng-repeat="item in non_itms" class="item-checked">
                            <td>
                                <label for="exampleInputEmail1">&nbsp;Non ABC Brands dealing with:&nbsp;</label>
                                <!--<span style="color: indianred">{{item.nonid}}</span>.-->
                                <input type="text" placeholder={{item.non_schneider_brands_push}} readonly>
                                <button ng-click="non_edit_item($index,item)" class="btn-success buttun_class2">Edit</button>
                                <button ng-click="non_delete_item($index)" class="btn-success buttun_class2">Delete</button>
                            </td>
                        </tr>
                    </table>
                </div>

			</form>
		</div>
		<div class="col-md-6 column">
			<form role="form">
			<div class="form-group">
					 <label for="exampleInputPassword1">Last Name</label><input type="text" class="form-control" id="exampleInputPassword1" ng-model="profile_data.last_name">
				</div>
				<div class="form-group">
					 <label for="exampleInputEmail1">Phone No</label><input type="text" class="form-control" id="exampleInputEmail1" ng-model="profile_data.mobile_no">
				</div>
			    <div class="form-group">
					 <label for="exampleInputEmail1">D.O.B</label><input type="text" class="form-control" id="exampleInputEmail1" ng-model="profile_data.dob">
				</div>
				<div class="form-group">
					 <label for="exampleInputEmail1">Education</label><input type="text" class="form-control" id="exampleInputEmail1" ng-model="profile_data.qualification">
				</div>
                <div class="form-group">
                    <label for="exampleInputEmail1">ABC Brands dealing with</label>
                    <div class="frotate">
                    <input type="text" class="form-control" id="exampleInputEmail1" ng-model="profile_data.schneider_brands"/>
                    <button class="frotate_cross btn-success buttun_class" ng-click="addItem()">Add More Field</button>
                    </div>
                </div>

                <!--aaded by Mahiruddin On date:21/05/2015-->
                <div ng-hide="custom_data" style="width:100%; background-color: lightcyan">
                <table>
                    <tr ng-repeat="item in itms" class="item-checked">
                        <td>
                        <label for="exampleInputEmail1">&nbsp;ABC Brands dealing with:&nbsp;</label>
                            <!--<span style="color: indianred">{{item.id}}</span>.-->
                        <input type="text" placeholder={{item.schneider_brands_push}} readonly>
                        <button ng-click="edit_item($index,item)" class="btn-success buttun_class2">Edit</button>
                        <button ng-click="delete_item($index)" class="btn-success buttun_class2">Delete</button>
                        </td>
                    </tr>
                </table>
                </div>
                <!--Added end on: 21/05/2015-->

			</form>
			<button type="button" class="btn btn-success" ng-click="update_profile_basic();">Save</button>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3>
				Work &amp; Address Information
			</h3>
		</div>
		<hr>
	</div>
	<div class="row clearfix">
		<div class="col-md-6 column">
			 <label>Company Name: &nbsp;{{profile_data.company_name }}</label><br>
			 <label>Designation: &nbsp;{{ profile_data.designation}} </label><br>
			 <label>Partner Id: &nbsp;{{profile_data.partner_id }}</label><br>
			 <label>Zone: &nbsp;{{ profile_data.region}} </label><br>
			 <label>City: &nbsp;{{profile_data.city }} </label><br>
		</div>
		<div class="col-md-6 column" ng-click="select_address(profile_data)">
			 <label>Your Saved Address: &nbsp;{{profile_data.fullname}}</label><br>
            {{profile_data.address}} {{profile_data.street}}
            <br />
            {{profile_data.city}} {{profile_data.state}}
            <br />
            {{profile_data.zipcode}}<br />
            Mobile: {{profile_data.mobile_no}}<br />
            <br />
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3>
				Update Address
			</h3>
		</div>
		<hr>
	</div>
	<div class="row clearfix">
		<div class="col-md-6 column">
			<form role="form">
				<div class="form-group">
					 <label for="exampleInputEmail1">First Name</label><input type="text" class="form-control" id="exampleInputEmail1"  ng-model="profile_address.first_name">
				</div>
				<div class="form-group">
					 <label for="exampleInputPassword1">Street Address</label><input type="text" class="form-control" id="exampleInputPassword1" ng-model="profile_address.address">
				</div>
				<div class="form-group">
					 <label for="exampleInputPassword1">Landmark</label><input type="text" class="form-control" id="exampleInputPassword1" ng-model="profile_address.street">
				</div>
				<div class="form-group">
					 <label for="exampleInputPassword1">Pincode</label><input type="text" class="form-control" id="exampleInputPassword1" ng-model="profile_address.zipcode">
				</div>


			</form>
		</div>
		<div class="col-md-6 column">
			<form role="form">
				<div class="form-group">
					 <label for="exampleInputEmail1">Last Name</label><input type="text" class="form-control" id="exampleInputEmail1" ng-model="profile_address.last_name">
				</div>
				<div class="form-group">
					 <label for="exampleInputPassword1">City</label><input type="text" class="form-control" id="exampleInputPassword1" ng-model="profile_address.city">
				</div>
				<div class="form-group">
					 <label for="exampleInputPassword1">State</label><input type="text" class="form-control" id="exampleInputPassword1" ng-model="profile_address.state">
				</div>
				<div class="form-group">
					 <label for="exampleInputPassword1">Phone No:</label><input type="text" class="form-control" id="exampleInputPassword1" ng-model="profile_address.mobile_no">
				</div>
			</form>
		</div>


	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<button type="submit" class="btn btn-success" ng-click="update_user_address();">Submit</button>
		</div>
	    </div><br><br>

    <div class="row clearfix">

        <div class="col-md-12 column">
            <h3>
                Change Password
            </h3>
        </div>

        <hr>
        <div class="col-md-6 column" ng-controller="changepassCtrl">
        <form role="form">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label><input type="email" readonly="readonly" class="form-control" id="exampleInputEmail1" ng-model="email_id">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Old Password</label><input type="password" placeholder="Old Password" class="form-control" id="exampleInputPassword1" ng-model="old_password">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">New Password</label><input type="password" placeholder="New Password" class="form-control" id="exampleInputPassword1" ng-model="new_password">
            </div>
            <button type="submit" class="btn btn-success" ng-click="change_password();">Submit</button>
        </form>
            </div>

        </div>

		</div>
    </div>

 </div>

