<div class="shadowbox">
    <div class="">
        <div class="pagetitle">
        </div>
    </div>
    <div>
        <div class="container" style="width: 100%;">
            <tabset style="display: block; margin-left: 20px;">
                <tab heading="Program" style="border-left: 1px solid #fff;margin-left:0px;cursor: pointer;text-align: justify;width: 33%;
  text-align: center;">
                    <br>
                    <br>
                    <ul style="list-style-type: none">
                        <li><strong><p>ABC Company Partner Program</p>  </strong></li>
                        </li>
                        <li><strong>Who Should Participate</strong> - Authorised Ford Genuine parts Retailers/Work shop/Mechanics</li>
                        <li><strong>Time frame</strong> -1st May- 31st July, 2016</li>
                        <br>
                        <li><strong>Benefits of participating :</strong></li>
                        <ul class="innerlist">
                            <li style="list-style-type:disc ">As an exclusive and registered member in the ABC Company program, Retailers/Work shop/Mechanics will get below mentioned privileges</li>
                            <li style="list-style-type:disc ">Attractive incentives & rewards</li>
                            <li style="list-style-type:disc ">Sales & Marketing support</li>
                            <li style="list-style-type:disc ">Priority technical support</li>
                            <li style="list-style-type:disc ">Regular updates on product/offerings in near future</li>
                        </ul>
                        <br>
                        <li><span>Incentive Slab</span></li>
                        <br>
                        <img src="images/slab.jpg" style="width: 20%; height: auto;">
                        <br>
                        <!-- <em></em><li style="font-size: 13px">For more details on products & offerings from Digilink, please click on below link and visit our website
            <span>Website: http://www.digilink.in</span></li></em> -->
                    </ul>
                </tab>
                <tab heading="T&C" style="border-left: 1px solid #fff;cursor: pointer;text-align: left;width: 33%;text-align: center;">
                    <div style="margin-top: 25px;">
                        <p>ABC Company India welcomes you to an exclusive loyalty program for their authorised genuine parts dealers Bangalore – the ABC Company PARTNER PROGRAM. An excellent chance to earn attractive gifts and rewards on selling more FORD genuine parts. The points you will earn are based on the SKUs you will sell and your participation across all the special boosters and activities planned as a part of the program. </p>
                        <br>
                        <ul class="innerlist">
                            <li style="list-style-type:disc ">As an exclusive and registered member in the ABC Company program, Retailers/Work shop/Mechanics will get below mentioned privileges</li>
                            <li style="list-style-type:disc">Ford Genuine Parts Partner Program is offered by VST Ford Spares in co-ordination with Ford for all retailers / workshops / mechanics who successfully register for the reward program.</li>
                            <li style="list-style-type:disc ">Only registered and approved retailers/workshops/mechanics can participate in the program. </li>
                            <li style="list-style-type:disc ">The reward points are valid only on purchase of genuine FORD Parts & Accessories purchased from authorized VST Ford Spares distributor only. </li>
                            <li style="list-style-type:disc ">4. Points are categorized in two categories:</li>
                            <li style="list-style-type:none">(a) Accrued points: Awarded for each purchase reported by the retailers/workshops/mechanics. </li>
                            <li style="list-style-type:none">(b) Credited points: Accrued points will be credited to the workshops/retailers/mechanics who have cleared the payments with in 21 days from the date of invoice. The points will be credited only once the program center has validated the purchase made by the retailers/workshops/ mechanics & will be based on the program rules. </li>
                            <li style="list-style-type:disc ">The points earned will be as per the points prevailing on the date of the invoice. </li>
                            <li style="list-style-type:disc ">Any free of cost material supplied will not carry any points. Free of cost includes products sold at a notional price also. </li>
                            <li style="list-style-type:disc ">For any sales return the points prevailing on the date of return will be reversed. </li>
                            <li style="list-style-type:disc ">The rewards will not be disbursed/delivered if there is any over-due or outstanding with the respective distributor. </li>
                            <li style="list-style-type:disc ">Program benefits are not transferable and points earned cannot be shared between the registered members. </li>
                            <li style="list-style-type:disc ">Neither VST Ford spares nor its subsidiaries or agencies will be held responsible for lost, late, misdirected, damaged, incomplete or illegible promotional materials or typographical or other errors in printing or advertising of materials. </li>
                            <li style="list-style-type:disc ">The images shown in the online reward catalogue may differ from the actual product. </li>
                            <li style="list-style-type:disc ">Registered retailers/workshops/mechanics are responsible for all applicable taxes (if any). </li>
                            <li style="list-style-type:disc ">Benefits can neither be exchanged for cash under any circumstances. </li>
                            <li style="list-style-type:disc ">The claim has to be made to the appointed agency and will be considered only once you have enough credited points available for redemptions. </li>
                            <li style="list-style-type:disc ">VST Ford spares has the right to ask for furnishing the true copies of the invoices for the product purchased by the retailers/workshops/mechanics. </li>
                            <li style="list-style-type:disc "> VST Ford spares reserves the right to change, modify or discontinue the program at any given point of time without assigning any reason(s) for the same. </li>
                            <li style="list-style-type:disc ">All products featured in the rewards catalogue are subject to availability of the goods and supplier warranties restrictions at the time of redemption. VST Ford spares nor its managing agency provides no warranty (whether expressly or implied) whatsoever with respect to the product/services acquired under the rewards program. </li>
                            <li style="list-style-type:disc ">VST Ford spares or its managing agency reserves the right to cancel, change or substitute any reward at any time without any prior notice. </li>
                            <li style="list-style-type:disc ">Redemption request once given cannot be cancelled or withdrawn or changed. On redemption, the rewards points would automatically be subtracted from the accumulated balance. </li>
                            <li style="list-style-type:disc ">Computation of the reward mechanics shall be final, conclusive and binding on the participating dealers and will not be liable to be disputed or questioned. </li>
                            <li style="list-style-type:disc ">The participating partners have to ensure that they furnish information in its true form and any wrongly represented information will result in permanent disqualification, from the program and schemes run by VST Ford spares. </li>
                            <li style="list-style-type:disc ">All points will be accrued and credited as per eligibility until the end of the program – 31st July 2016. All points have to be redeemed before 15th August 2016, post which all the points credited will automatically lapse. </li>
                            <li style="list-style-type:disc ">All disputes will be settled under the Bangalore jurisdiction.</li>
                        </ul>
                    </div>
                </tab>
                <tab heading="FAQ" style="border-left: 1px solid #fff;cursor: pointer;text-align: justify;width: 34%;text-align: center;">
                    <br>
                    <br>
                    <!--<ul style="margin-top: 25px;">-->
                    <ul style="list-style-type: none; text-align:left;">
                        <li><strong>Q.1&nbsp; About ABC Company</strong></li>
                        <li style="margin-left: 40px;">Ford Genuine Parts Partner Program - An exclusive loyalty program for their authorised genuine parts dealers Bangalore – the FORD GENUINE PARTS PARTNER PROGRAM. An excellent chance to earn attractive gifts and rewards on selling more FORD genuine parts.</li>
                        <br>
                        <li><strong>Q.2&nbsp; Who all are eligible to become ABC Company?</strong></li>
                        <li style="margin-left: 40px;">The program is open to ALL the Authorised Ford Genuine Parts Retailers/Work Shop/Mechanics.</li>
                        <br>
                        <li><strong>Q.3&nbsp; How can I enroll in ABC Company Program?</strong></li>
                        <li style="margin-left: 40px;">Our Program center team shall contact you and help you complete your registration into the program.</li>
                        <br>
                        <li><strong>Q.4&nbsp; Please let me know my role also in the program. What am I supposed to do?</strong></li>
                        <li style="margin-left: 40px;">Do what you do best. Sell more ABC Company products and earn more from our rewards gallery.</li>
                        <br>
                        <li><strong>Q.5&nbsp;What is in it for me?</strong></li>
                        <li style="margin-left: 40px;">Every purchase that’s reported by you on our system is verified by our team. Basis this purchase you win points that you can avail to get exciting rewards. You can choose from a whole range of rewards that are listed in our rewards gallery.</li>
                        <br>
                        <li><strong>Q.6&nbsp; How does ABC Company program benefit me in the long run?</strong></li>
                        <li style="margin-left: 40px;">ABC Company is a platform that engages you directly with the brand ABC Company and VST Ford Spares. Our objective is to help you grow your business and scale new heights.</li>
                        <br>
                        <li><strong>Q.7&nbsp; How can I contact you?</strong></li>
                        <li style="margin-left: 40px;">For Program related details:</li>
                        <li style="margin-left: 40px;">Email your query to: <a href="mailto:info@vst-ford.annectos.net">info@abc.annectos.net</a></li>
                        <li style="margin-left: 40px;">
                            <ol style="list-style:circle">
                                <li style="list-style-type:disc "><strong>For ABC Company Program center details: </strong> 09686202046 / 9972334590 (Monday to Friday - 9:30 AM to 6:30 PM)</li>
                                <br>
                                <li style="list-style-type:disc "><strong>For other information on ABC Company products, offerings and support:</strong></li>
                                <li style="list-style:none; ">
                                    No: 80/A2, 1st Main, 3rd Cross, Industrial Suburb,
                                    <br> 2nd Stage, Yeshwantpur, Bangalore -560001
                                    <br> Phone: 080 - 123456789
                                    <br> Email: abc@company.com
                                    <br>
                                </li>
                            </ol>
                        </li>
                    </ul>
                </tab>
                <!--<tab heading="Uploaded Photo">-->
                <!--</tab>-->
            </tabset>
        </div>
    </div>
