<div class="shadowbox">
<div class="">
    <div class="row clearfix">
        <div class="col-md-12 column" >
            <div class="tabbable" id="tabs-693581">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab">PROGRAM MANAGEMENT</a>
                   </li>

                </ul>
            </div>
        </div>
    </div><br><br>

    <div class="tablecolorborder">

        <div style="width: auto" class="container profilepage">

            <div class="profileinfo pull-left">

                <div class="leftsec pull-left">

                        <p>
                            <!--<label class="label_inline">-->
                            <!--Company</label>-->
                            <!--<select ng-model="sel_comp_name" class="pure-input-1-4">-->
                            <!--<option value="Select Company">Select Company</option>-->
                            <!--<option value="schneider">Schneider</option>-->
                            <!--</select>-->
                            <label for="material" class="label_inline">
                            </label>
                            <label style="width: auto; font-weight: normal" class="label_inline"> <input type="radio" name="status"  ng-model="status" value="pending"> Pending</label>
                            <label style="width: auto; font-weight: normal" class="label_inline">  <input type="radio" name="status" ng-model="status" value="Verified & Approved"> Verified & Approved</label>
                            <label style="width: auto; font-weight: normal" class="label_inline"> <input type="radio" name="status"  ng-model="status" value="VST Verification Required"> VST Verification Required</label>
                            <label style="width: auto; font-weight: normal" class="label_inline">  <input type="radio" name="status" ng-model="status" value="Rejected">Rejected</label>
                            <label style="width: auto; font-weight: normal" class="label_inline"><input type="radio" name="status" ng-model="status" value="payment_rec"> Payment Received</label>
                            <label style="width: auto; font-weight: normal" class="label_inline"><input type="radio" name="status" ng-model="status" value="payment_not_rec">Payment Not Received</label>
                            <label style="width: auto; font-weight: normal" class="label_inline">  <input type="radio" name="status" ng-model="status" value="All"> All</label>


                        </p>


                </div>


            </div>

            <br>

            <div class="col-md-12 form-group pull-left">
                <label class="label_inline">SI Name </label>
                <input type="text" style="width:300px" class="form-control" data-ng-model="company_name" list="all_comp_name_list" placeholder=" SI Name" title="SI Name" ng-keyup='get_autocomplete_values()'  ng-blur='get_invoce_by_comp_name()'>

            </div>
            <br>

            <div class="row clearfix">

                <div class="col-md-12 column" >


            <p style="margin-bottom: 20px">

                <datalist id="all_comp_name_list">
                    <option  data-ng-repeat="ttl in comp_name_list" value="{{ttl}}">
                </datalist>




            </p>
                    </div>
                </div>

            <br>
            <br>
            <!--<div style="width: auto" class="container">-->
                <!--<div class="box_top">-->
                    <!--<span class="heading">INVOICE DETAILS</span>-->
                <!--</div>-->
            <!--</div>-->
            <div class="row clearfix">
                <div class="col-md-12 column" >
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="background-color:#5591F5;color: #fff;">
                                <a href="" style="color: #FFFFFF !important;" ng-click="predicate = 'invoice_date'; reverse=!reverse">INVOICE DATE</a>
                            </th>
                            <th style="background-color:#5591F5;color: #fff;">
                                <a href="" style="color: #FFFFFF !important;" ng-click="predicate = 'invoice_number'; reverse=!reverse">INVOICE NUMBER</a>
                            </th>
                            <th style="background-color:#5591F5;color: #fff;">
                                <a href="" style="color: #FFFFFF !important; text-align: center;" ng-click="predicate = 'invoice_amount'; reverse=!reverse">INVOICE TOTAL</a>
                            </th>
                            <th style="background-color:#5591F5;color: #fff;">
                                <a href="" style="color: #FFFFFF !important; text-align: center;" ng-click="predicate = 'invoice_amount'; reverse=!reverse">INVOICE AMOUNT EXCL. VAT</a>
                            </th>
                            <th style="background-color:#5591F5;color: #fff;">
                                <a href="" style="color: #FFFFFF !important; text-align: center;" ng-click="predicate = 'company_name'; reverse=!reverse">SI Name</a>
                            </th>
                            <th style="background-color:#5591F5;color: #fff;">
                                <a href="" style="color: #FFFFFF !important; text-align: center;" ng-click="predicate = 'status'; reverse=!reverse">STATUS</a>
                            </th>
                            <th style="background-color:#5591F5;color: #fff;">
                                <a href="" style="color: #FFFFFF !important; text-align: center;" ng-click="predicate = 'payment_received'; reverse=!reverse">PAYMENT RECEIVED</a>
                            </th>
                            <th style="background-color:#5591F5;color: #fff;">
                              <a style="color: #FFFFFF !important;">INVOICE LINK</a>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="inv in invoice  | orderBy:predicate:reverse">
                            <td>
                                {{inv.invoice_date| date :"dd/MM/yyyy" }}
                            </td>
                            <td >
                                <a href="" style="color: #000000 !important;" ng-click="get_duplicate_invoice_list(inv.invoice_number);" title="Check Duplicate Invoice">{{inv.invoice_number}}</a>
                            </td>
                            <td>
                                {{inv.invoice_amount}}
                            </td>
                            <td>
                                {{inv.invoice_amount_excl_vat}}
                            </td>
                            <td>
                                {{inv.company_name}}
                            </td>
                            <td>
                                {{inv.status}}
                            </td>
                            <td>
                             {{inv.payment_received === "Y" ? "Payment Received" : "Payment Not Received"}}
                              
                            </td>
                            <td>
                                <button type="button" class="btn1 btn-success" ng-click= "invoice_details_by_number(inv.claim_id,inv.user_id)" >Details</button>
                                <img ng-click="download_invoice(inv.supporting_doc);" style="cursor: pointer;" src="images/download.png">
                            </td>
                        </tr>


                        </tbody>
                    </table>
                </div>
            </div>


            <!--<div style="width: auto" class="container">-->
                <!--<div class="tablecolorborder">-->

                    <!--<br />-->
                    <!--<table width="100%" >-->
                        <!--<tr class="trdiv" style="height: 30px;">-->
                            <!--<td class="tddiv">-->
                                <!--<a href="" style="color: #FFFFFF !important;" ng-click="predicate = 'invoice_date'; reverse=!reverse">INVOICE DATE</a>-->
                            <!--</td>-->

                            <!--<td class="tddiv">-->
                                <!--<a href="" style="color: #FFFFFF !important;" ng-click="predicate = 'invoice_number'; reverse=!reverse">INVOICE NUMBER</a>-->
                            <!--</td>-->

                            <!--<td class="tddiv">-->
                                <!--<a href="" style="color: #FFFFFF !important; text-align: center;" ng-click="predicate = 'invoice_amount'; reverse=!reverse">INVOICE TOTAL</a>-->
                            <!--</td>-->
                            <!--<td class="tddiv">-->
                                <!--<a href="" style="color: #FFFFFF !important; text-align: center;" ng-click="predicate = 'company_name'; reverse=!reverse">SI Name</a>-->
                            <!--</td>-->
                            <!--<td class="tddiv">-->
                                <!--<a href="" style="color: #FFFFFF !important; text-align: center;" ng-click="predicate = 'status'; reverse=!reverse">STATUS</a>-->
                            <!--</td>-->
                            <!--<td class="tddiv">-->
                                <!--INVOICE LINK-->
                            <!--</td>-->


                        <!--</tr>-->
                        <!--<tr style="border-bottom:dashed #000 2px;height:30px; text-align: center;" data-ng-repeat="inv in invoice  | orderBy:predicate:reverse">-->

                            <!--<td>-->
                                <!--{{inv.invoice_date| date :"dd/MM/yyyy" }}-->
                            <!--</td>-->

                            <!--<td>-->
                                <!--<a href="" style="color: #000000 !important;" ng-click="get_duplicate_invoice_list(inv.invoice_number);" title="Check Duplicate Invoice">{{inv.invoice_number}}</a>-->
                            <!--</td>-->

                            <!--<td>-->
                                <!--{{inv.invoice_amount}}-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--{{inv.company_name}}-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--{{inv.status}}-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<button type="button" class="btn btn-success" ng-click= "invoice_details_by_number(inv.claim_id)" >Details</button>-->
                                <!--<img ng-click="download_invoice(inv.supporting_doc);" style="cursor: pointer;" src="images/download.png">-->
                            <!--</td>-->


                        <!--</tr>-->

                    <!--</table>-->

                <!--</div>-->

            <!--</div>-->
        </div>
    </div>
    </div>
</div>

    <div class="tree_conatiner ovrlay" ng-show="duplicate_pop_show" style="border: 1px solid #d0cfcf;width: 1012px; padding: 10px; height: 500px; position: fixed; z-index: 9999; left: 50%; top: 50%; margin-left: -506px; margin-top: -250px;background-color: #ffffff"  >
        <div class="close_btn" style="cursor:pointer" ng-click="pop_up_close()">
            X
        </div>
        <div class="container" style="width:960px">

            <div class="row clearfix">
                <div class="col-md-12 column" style="  margin-left: 1px;">
                    <div class="tabbable" id="tabs-693581">
                        <ul class="nav nav-tabs" style="width:900px;">
                            <li class="active">
                                <a data-toggle="tab">Duplicate Invoice List</a>
                            </li>

                        </ul>

                    </div>
                </div>
            </div>
            <br />

            <div style="clear: both"></div>
            <div style="overflow: auto ! important; height: 342px">

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th style="background-color:#5591F5;color: #fff;">
                            ACTIVE
                        </th>
                        <th style="background-color:#5591F5;color: #fff;">
                            INVOICE DATE
                        </th>
                        <th style="background-color:#5591F5;color: #fff;">
                            INVOICE NUMBER
                        </th>
                        <th style="background-color:#5591F5;color: #fff;">
                            INVOICE AMOUNT
                        </th>
                        <th style="background-color:#5591F5;color: #fff;">
                            SI NAME
                        </th>
                        <th style="background-color:#5591F5;color: #fff;">
                            USER ID
                        </th>
                        <th style="background-color:#5591F5;color: #fff;">
                            STATUS
                        </th>
                        <th style="background-color:#5591F5;color: #fff;">
                            INVOICE LINK
                        </th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="dil in duplicate_invoice_list">
                        <td>
                            {{dil.active}}
                        </td>
                        <td>
                            {{dil.invoice_date| date :"dd/MM/yyyy" }}
                        </td>
                        <td>
                            {{dil.invoice_number}}
                        </td>
                        <td>
                            {{dil.invoice_amount}}
                        </td>
                        <td>
                            {{dil.company_name}}
                        </td>
                        <td>
                            {{dil.user_id}}
                        </td>
                        <td>
                            {{dil.status}}
                        </td>
                        <td>
                            <img ng-click="download_invoice(dil.supporting_doc);" style="cursor: pointer;" src="images/download.png">
                        </td>


                    </tr>


                    </tbody>
                </table>
                <!--<table width="100%" style="overflow: auto ! important">-->
                    <!--<tr class="trdiv">-->

                        <!--<td class="tddiv">-->
                            <!--ACTIVE-->
                        <!--</td>-->
                        <!--<td class="tddiv">-->
                            <!--INVOICE DATE-->
                        <!--</td>-->
                        <!--<td class="tddiv">-->
                            <!--INVOICE NUMBER-->
                        <!--</td>-->
                        <!--<td class="tddiv">-->
                            <!--INVOICE AMOUNT-->
                        <!--</td>-->
                        <!--<td class="tddiv">-->
                            <!--SI NAME-->
                        <!--</td>-->
                        <!--<td class="tddiv">-->
                            <!--USER ID-->
                        <!--</td>-->
                        <!--<td class="tddiv">-->
                            <!--STATUS-->
                        <!--</td>-->
                        <!--<td class="tddiv">-->
                            <!--INVOICE LINK-->
                        <!--</td>-->

                    <!--</tr>-->
                    <!--<tr style="border-bottom:dashed #000 2px;height:30px;text-align: center ; " data-ng-repeat="dil in duplicate_invoice_list">-->

                        <!--<td>-->
                            <!--{{dil.active}}-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--{{dil.invoice_date| date :"dd/MM/yyyy" }}-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--{{dil.invoice_number}}-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--{{dil.invoice_amount}}-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--{{dil.company_name}}-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--{{dil.user_id}}-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--{{dil.status}}-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--<img ng-click="download_invoice(dil.supporting_doc);" style="cursor: pointer;" src="images/download.png">-->
                        <!--</td>-->
                    <!--</tr>-->
                <!--</table>-->

            </div>
        </div>
    </div>
