<div class="shadowbox">
  <div>
    <div class="row clearfix">
      <div class="col-md-12 column">
        <div class="tabbable" id="tabs-693581">
          <ul class="nav nav-tabs">
            <li class="active">
              <a data-toggle="tab">CLAIM DETAILS</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="row clearfix">
      <div class="col-md-6 column">
        <form role="form">
          <div class="form-group">
            <label>
              Invoice No</label>
            <input type="text" style="border-style: solid;background-color:transparent !important;" class="form-control" required="required" title="Invoice No" ng-disabled="true" placeholder="Invoice No" ng-model="inv_detail.invoice_number">
          </div>
          <div class="form-group">
            <label>
              Invoice Amount</label>
            <input type="text" class="form-control" ng-disabled="true" required="required" placeholder="Invoice Amount" title="Invoice Amount" ng-model="inv_detail.invoice_amount">
          </div>
          <div class="form-group">
            <label>
              Invoice Amount Excluding VAT</label>
            <input type="text" class="form-control" ng-disabled="true" required="required" placeholder="Invoice Amount Excluding VAT" title="Invoice Amount Excluding VAT" ng-model="inv_detail.invoice_amount_excl_vat">
          </div>
        </form>
      </div>
      <div class="col-md-6 column">
        <form role="form">
          <div class="form-group" style="margin-bottom: 2px;">
            <label>Invoice Date</label>
            <br>
            <input type="text" class="form-control" style="display: inline-block;width:280px;background-color:transparent !important;border-style:solid !important; height:24px;margin-top:-18px;" placeholder="Invoice Date" datepicker-popup="dd/MM/yyyy" ng-model="invoice_date" ng-disabled="true" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
             <span style="display: inline-block;">
               <button type="button" class="btn btn-default" style="padding: 5px 7px ! important;" ng-disabled="user_type=='schneider admin'||'rsm admin'" ng-click="open($event)">
                 <i class="glyphicon glyphicon-calendar"></i>
               </button>
             </span>
          </div>
          <div class="form-group">
            <label style="margin-top:0px;">Distributor</label>
            <datalist id="distributor_list">
              <option data-ng-repeat="odl in distributor_list" value="{{odl.name}} - {{odl.city}}">
            </datalist>
            <input type="text" style="width: auto;height: auto;margin-top:0px;" class="form-control" data-ng-model="inv_detail.retailer" list="distributor_list" ng-disabled="true" placeholder="Distributor" title="Distributor" ng-keyup='get_autocomplete_values()'>
          </div>
        </form>
      </div>
      <div class="form-group">
        <p ng-show="user_type!='schneider admin' || 'rsm admin'">
          <input type="button" class="btn btn-success" value="Userwise Invoice Details" data-ng-click="user_wise_invoice_details()" style="background: #4285f4;color:#fff;margin-top:18px;margin-left: 12px;" />
        </p>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-md-12 column">
        <div class="tabbable" id="tabs-693581">
          <ul class="nav nav-tabs" style="">
            <li class="active">
              <a data-toggle="tab">Part CODE DETAILS</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <br>
    <div class="row clearfix">
      <div class="col-md-6">
        <form role="form">
          <div class="form-group">
            <p ng-show="user_type!='schneider admin' || 'rsm admin'">
              <label>
                PART CODE</label>
              <datalist id="part_code_list">
                <option data-ng-repeat="opc in part_code_list" value="{{opc.sku}}">
              </datalist>
              <input type="text" class="form-control" data-ng-model="claim_details.sku" list="part_code_list" placeholder="PART CODE" title="PART CODE" ng-keyup='get_autocomplete_values()' ng-blur="get_sel_sku_data()" tabindex="4">
            </p>
            <p ng-show="user_type!='schneider admin' || 'rsm admin'">
              <label>
                MRP</label>
              <input type="text" class="form-control" placeholder="MRP" ng-disabled="master_data" title="MRP" data-ng-model="claim_details.mrp">
            </p>
            <p ng-show="user_type!='schneider admin' || 'rsm admin'">
              <label>
                Unit Price</label>
              <input type="text" class="form-control" placeholder="Unit Price" title="Unit Price" ng-keydown="numeric_only($event)" ng-blur="calc_verified_amount()" data-ng-model="claim_details.unit_price">
            </p>
            <p ng-show="user_type!='schneider admin' || 'rsm admin'">
              <label>
                Discount(%)</label>
              <input type="text" class="form-control" placeholder="Discount(%)" title="Discount(%)" ng-keydown="numeric_only($event)" ng-blur="calc_verified_amount()" data-ng-model="claim_details.discount">
            </p>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <form role="form">
          <div class="form-group">
            <p ng-show="user_type!='schneider admin' || 'rsm admin'">
              <label>
                Description</label>
              <input type="text" class="form-control" placeholder="Description" ng-disabled="master_data" title="Description" data-ng-model="claim_details.description">
            </p>
            <p ng-show="user_type!='schneider admin' || 'rsm admin'">
              <label>
                Model</label>
              <input type="text" class="form-control" placeholder="Model" title="Model" ng-disabled="master_data" data-ng-model="claim_details.model">
            </p>
            <p ng-show="user_type!='schneider admin' || 'rsm admin'">
              <label>
                Quantity</label>
              <input type="text" class="form-control" placeholder="Quantity" title="Quantity" ng-keydown="numeric_only($event)" ng-blur="calc_verified_amount()" data-ng-model="claim_details.quantity">
            </p>
            <p ng-show="user_type!='schneider admin' || 'rsm admin'">
              <label>
                Amount</label>
              <input type="text" class="form-control" placeholder="Amount" ng-disabled=true title="Amount" data-ng-model="claim_details.amount">
            </p>
          </div>
        </form>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-md-12">
        <div class="form-group">
          <p ng-show="user_type!='schneider admin' || 'rsm admin'">
            <input type="button" class="btn btn-success" value="Add" data-ng-click="add_sku()" style="margin-top: -3px;" />
          </p>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-md-12 column">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th style="background-color:#5591F5;color: #fff ">
              Part CODE
            </th>
            <th style="background-color:#5591F5;color: #fff;">
              Quantity
            </th>
            <th style="background-color:#5591F5;color: #fff;">
              Discount(%)
            </th>
            <th style="background-color:#5591F5;color: #fff;">
              Unit Price
            </th>
            <th style="background-color:#5591F5;color: #fff;">
              Amount
            </th>
            <th style="background-color:#5591F5;color: #fff ">
              STATUS
            </th>
            <th style="background-color:#5591F5;color: #fff ">
              ACTION
            </th>
          </tr>
          </thead>
          <tbody>
          <tr ng-class=os.status data-ng-repeat="os in sku_details">
            <td>
              {{os.sku}}
            </td>
            <td>
              {{os.quantity}}
            </td>
            <td>
              {{os.discount}}
            </td>
            <td>
              {{os.unit_price}}
            </td>
            <td>
              {{os.amount}}
            </td>
            <td>
              {{os.status}}
            </td>
            <td>
              <button type="button" class="btn1 btn-success" ng-show="user_type!='schneider admin'" ng-disabled="isenable" ng-click="delete_by_sku(os)">Delete</button>
              <button type="button" class="btn1 btn-success" ng-show="user_type=='schneider admin'" ng-disabled="isenable" ng-class="part_verify_status(os.status)" ng-click="approve_reject_by_sku(os)">Approve</button>
            </td>
          </tr>
          <tr>
            <td>
              Total Quantity
            </td>
            <td>
              {{all_total_quantity}}
            </td>
            <td>
              Total Amount
            </td>
            <td>
              {{all_total_amount}}
            </td>
            <td>

            </td>
            <td>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-md-12 column">
        <div class="tabbable" id="tabs-693581">
          <ul class="nav nav-tabs" style="">
            <li class="active">
              <a data-toggle="tab"> Comment History</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <br>
    <div class="row clearfix">
      <div class="col-md-12 column">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th style="background-color:#5591F5;color: #fff;">
              Date
            </th>
            <th style="background-color:#5591F5;color: #fff;">
              Time
            </th>
            <th style="background-color:#5591F5;color: #fff;">
              User
            </th>
            <th style="background-color:#5591F5;color: #fff;">
              Previous Comments
            </th>
          </tr>
          </thead>
          <tbody>
          <tr data-ng-repeat="cl in comment_list">
            <td>
              {{cl.comment_date| date :"dd/MM/yyyy"}}
            </td>
            <td>
              {{cl.comment_date |date:'h:mm a' }}
            </td>
            <td>
              {{cl.user_type}}
            </td>
            <td>
              {{cl.comments}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-md-6 column">
        <form role="form">
          <div class="form-group">
            <p ng-show="user_type!='schneider admin'">
              <label>
                Comments</label>
              <textarea style="width: 100%;" class="form-control" placeholder="Comments" ng-model="approval_comments"></textarea>
            </p>
            <p>
              <input type="button" value="Approve" class="btn btn-success" ng-disabled="isenable" style="background: #4285f4;color:#fff;" ng-click="insert_claim_details()" />
              <input type="button" value="Reject" class="btn btn-success" ng-disabled="isenable" style="background: #4285f4;color:#fff;" ng-click="reject_claim_details()" />
              <input type="button" value="Send to VST" class="btn btn-success" ng-show="user_type!='schneider admin' || 'rsm admin'" ng-disabled="isenable" style="background: #4285f4;color:#fff;" ng-click="send_to_schneider()" />
              <input type="button" value="Back" class="btn btn-success" style="background: #4285f4;color:#fff;" ng-click="back_to_program()" />
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="tree_conatiner ovrlay" ng-show="invoice_details_pop_show_1" style="border: 1px solid #d0cfcf;width: 1012px; padding: 10px; height: 500px; position: fixed; z-index: 9999; left: 50%; top: 50%; margin-left: -506px; margin-top: -250px;background-color: #ffffff">
  <div class="close_btn" style="cursor: pointer" ng-click="invoice_pop_up_close_1()">
    X
  </div>
  <div>
    <div class="row clearfix">
      <div class="col-md-12 column" style="  margin-left: 16px;">
        <div class="tabbable" id="tabs-693581">
          <ul class="nav nav-tabs" style="width:958px;">
            <li class="active">
              <a data-toggle="tab">Invoice Details</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <br />
    <div style="clear: both"></div>
    <div style="overflow: auto ! important; height: 342px">
      <div style="margin-top: 0px" class="profilepage">
        <div style="float: left" class="tablecolorborder">
          <div class="profileinfo pull-left">
            <div class="leftsec pull-left">
              <p>
                <label style="display: inline-block; padding: 10px;">
                  SEARCH </label>
                <input type="text" placeholder="Search" ng-model="searchvalue">
              </p>
            </div>
            <div class="leftsec pull-left">
            </div>
          </div>
        </div>
      </div>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th style="background-color:#5591F5;color: #fff;">
            INVOICE NUMBER
          </th>
          <th style="background-color:#5591F5;color: #fff;">
            INVOICE AMOUNT(₹)
          </th>
          <th style="background-color:#5591F5;color: #fff;">
            RETAILER NAME
          </th>
          <th style="background-color:#5591F5;color: #fff;">
            USER ID
          </th>
          <th style="background-color:#5591F5;color: #fff;">
            STATUS
          </th>
        </tr>
        </thead>
        <tbody>
        <tr style="border-bottom:dotted #000 2px;height:30px;text-align: center ; " data-ng-repeat="inv in inv_details_user_id | filter:searchvalue">
          <td>
            {{inv.invoice_number}}
          </td>
          <td>
            {{inv.invoice_amount | number}}
          </td>
          <td>
            {{inv.retailer}}
          </td>
          <td>
            {{inv.user_id}}
          </td>
          <td>
            {{inv.status}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
