<div ui-view>
<div class="shadowbox">
<div class="container" style="width:100%">
    <div class="row clearfix">
        <div class="col-md-12 column" style="  ">
            <div class="tabbable" id="tabs-693581">
                <div class="close_btn" style="cursor: pointer" ng-click="pop_up_close()">
                    X
                </div>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab">VIEW MORE</a>
                    </li>


                </ul>

            </div>
        </div>
    </div><br>
    <div class="row clearfix">
        <div class="col-md-2 column" style="  ">
            <div class="tabbable" id="tabs-693581">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab">ORDER</a>
                    </li>

                </ul>

            </div>
        </div>
    </div><br>
	<div class="row clearfix">
		<div class="col-md-6 column" style="  ">
			<form role="form">
				<div class="form-group">
					 <label for="exampleInputEmail1"> Order Date
                     {{order_date| date: 'MMM-dd-yyyy'}}</label>
				</div>
			</form>
		</div>
		<div class="col-md-6 column">
			<form role="form">
                <div class="form-group">
                    <label for="exampleInputEmail1"> Status</label><input type="text" class="form-control" id="exampleInputEmail1" ng-model="status">
                </div>
			</form>
		</div>
	</div>

    <div class="row clearfix">
        <div class="col-md-3 column" style=" ">
            <div class="tabbable" id="tabs-693581">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab">ACCOUNT INFORMATION</a>
                    </li>

                </ul>

            </div>
        </div>
    </div><br>
    <div class="row clearfix">
        <div class="col-md-6 column" style="  ">
            <form role="form">
                <div class="form-group">
                    <label for="exampleInputEmail1"> Customer Name</label><input type="text" class="form-control" id="exampleInputEmail1" ng-model="redemptionmore_details.name">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Contact</label><input type="text" class="form-control" id="exampleInputEmail1" ng-model="redemptionmore_details.mobile_number">
                </div>
            </form>
        </div>
        <div class="col-md-6 column">
            <form role="form">
                <div class="form-group">
                    <label for="exampleInputEmail1"> Email</label><input type="text" class="form-control" id="exampleInputEmail1" ng-model="redemptionmore_details.user_id">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1"> Points Redeemed</label><input type="text" class="form-control" id="exampleInputEmail1" ng-model="points">
                </div>
            </form>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-2 column" style=" ">
            <div class="tabbable" id="tabs-693581">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab">ADDRESS</a>
                    </li>

                </ul>

            </div>
        </div>
    </div><br>
    <div class="row clearfix">
        <div class="col-md-6 column" style="  ">
            <form role="form">
                <div class="form-group">
                    <label for="exampleInputEmail1">Billing Address</label><textarea  class="form-control" id="exampleInputEmail1" ng-model="redemptionmore_details.address"></textarea>
                </div>
            </form>
        </div>
        <div class="col-md-6 column">
            <form role="form">
                <div class="form-group">
                    <label for="exampleInputEmail1"> Shipping Address</label><textarea  class="form-control" id="exampleInputEmail1" >{{redemptionmore_details.name}}
                    {{redemptionmore_details.city}} {{redemptionmore_details.state}} {{redemptionmore_details.pincode}} {{redemptionmore_details.mobile_number}}
                </textarea>
                </div>
            </form>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-2 column" style="  ">
            <div class="tabbable" id="tabs-693581">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab">Items Ordered</a>
                    </li>

                </ul>

            </div>
        </div>
    </div><br>
    <div class="row clearfix">
        <div class="col-md-12 column" style="width:100%;overflow-x: scroll;">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th style="background-color:#5591F5;color: #fff;">
                        Product ID
                    </th>
                    <th style="background-color:#5591F5;color: #fff;">
                        Part Code
                    </th>
                    <th style="background-color:#5591F5;color: #fff;">
                        Product Name
                    </th>
                    <th style="background-color:#5591F5;color: #fff;">
                        Brand
                    </th>
                    <th style="background-color:#5591F5;color: #fff;">
                        Quantity
                    </th>
                    <th style="background-color:#5591F5;color: #fff;">
                        Unit Price
                    </th>
                    <th style="background-color:#5591F5;color: #fff;">
                        Discount
                    </th>
                    <th style="background-color:#5591F5;color: #fff;">
                        Sub Total
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="or in order_information"  style="border-bottom:dotted #000 2px;height:50px;">
                    <td>
                        {{or.cart_item_id}}
                    </td>
                    <td>

                        {{or.sku}}
                    </td>
                    <td>


                        {{or.name}}
                    </td>
                    <td>

                        {{or.brand}}
                    </td>

                    <td>

                        {{or.quantity}}
                    </td>

                    <td>

                        {{or.mrp}}
                    </td>

                    <td>

                        {{or.discount}}
                    </td>
                    <td>
                        {{or.quantity * or.final_offer  *1 }}

                    </td>
                </tr>


                </tbody>
            </table>
        </div>
    </div><br><br>
</div>
</div>
</div>




