<div ui-view>
    <div class="shadowbox">
<div class="container" style="width: 100%">

    <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 column">
            <div class="tabbable" id="tabs-693581">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab">Order details</a></li>
                </ul>

            </div>
        </div>
    </div><br>

	<div class="row clearfix">
		<div class="col-xs-12 col-sm-12 col-md-12 column" style="">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th style="background-color:#5591F5;color: #fff;font-size: 12px;">
							Date
						</th>
						<th style="background-color:#5591F5;color: #fff;font-size: 12px;">
							Total Order
						</th>
						<th style="background-color:#5591F5;color: #fff;font-size: 12px;">
							Total Point
						</th>
						<th style="background-color:#5591F5;color: #fff;font-size: 12px;">
							Status
						</th>
						<th style="background-color:#5591F5;color: #fff;font-size: 12px;">
							View More
						</th>
					</tr>
				</thead>
				<tbody>
                <tr ng-repeat="or in my_orders"  style="border-bottom:dotted #000 1px;height:50px;">
                    <td>
                        {{or.create_ts | date: 'MMM-dd-yyyy'}}
                    </td>
                    <td>

                        {{or.order_id}}
                    </td>
                    <td>


                        {{or.total_amount}}
                    </td>
                    <td>

                        {{or.payment_info}}
                    </td>
                    <td>
                        <span style="cursor:pointer" class="glyphicon glyphicon-zoom-in" ng-click="goto_redemption_more(or)"></span>
                    </td>
                </tr>

					
				</tbody>
			</table>
		</div>
	</div><br><br>

		</div>
        </div>
</div>

