<div class="shadowbox">
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column" style="  margin-left: -17px;width: 1135px;">
			<div class="tabbable" id="tabs-693581">
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="" data-toggle="tab">Promotional Offer</a>
					</li>
					<li>
						<a href="" data-toggle="tab">Early Bird</a>
					</li>					
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="panel-821406">
						<p>
							Program Content comes here
						</p>
					</div>
					<div class="tab-pane" id="panel-560181">
						<p>
							Terms and condition comes here
						</p>
					</div>					
				</div>
			</div>
		</div>
	</div><br><br>

</div>
</div>
