
<div class="container">
    <div class="pagetitle">
        TERMS & CONDITION
    </div>
</div>

<div class="container">
    <div class="tablecolorborder">



    </div>
</div>
<div class="container ">
    <div class="middlesection contents">
        <div class="tablecolorborder">


            <div style="clear: both"></div>
            <div style="overflow: auto ! important; height: 542px">
                <div class="container middlesection contents">

                    <div class="dynamic_contents" style="text-align: left">
                        <li>1. XYZ Program is offered by XYZ India for all Retailers/Dealers.</li>
                        <li>2. Only registered and approved retailers/dealers can participate in the program.</li>
                        <li>3. The reward points are valid only on purchase of genuine XYZ products purchased from authorized XYZ distributor assigned to you.</li>
                        <li>4. Points are categorized in two categories:
                            (a.a) Accrued points: Awarded for each sale reported by the retailers/dealers.
                            (a.b) Credited points: Accrued points will be converted into credited points only once the program center has validated the sale made by the retailers/dealers.</li>
                        <li>5. Retailers/Dealers can only earn points against the eligible products as mentioned in the program website.</li>
                        <li>6. Points on different products are different also points on a particular product can be increased or decreased at sole discretion of XYZ.</li>
                        <li>7. The points earned will be as per the points prevailing on the date of the invoice.</li>
                        <li>8. All invoices uploaded between the 0 – 7th day from date of invoice will earn 100% of the points as per the eligibility of the SKUs in the invoice (subject to the Program Centre’s verification & approval). If the invoices are uploaded between the 8th – 30th day then only 80% of the points as per the eligibility of the SKUs in the invoice will be credited (subject to the Program Centre’s verification & approval). After the 30th day the system will not accept any uploads.</li>
                        <li>9.For any sales return the points prevailing on the date of return will be reversed.</li>
                        <li>10.The rewards will not be disbursed/delivered if there is any over-due or outstanding with the respective distributor.</li>
                        <li>11. Program benefits are not transferable and points earned cannot be shared between the registered members.</li>
                        <li>12. Neither XYZ India nor its subsidiaries or agencies will be held responsible for lost, late, misdirected, damaged, incomplete or illegible promotional materials or typographical or other errors in printing or advertising of materials.</li>
                        <li>13. The images shown in the online reward catalogue may differ from the actual product.</li>
                        <li>14. Registered retailers/dealers are responsible for all applicable taxes (if any).</li>
                        <li>15. All products are available without this promotion also.</li>
                        <li>16. Benefits can neither be exchanged for cash under any circumstances</li>
                        <li>17. The claim has to be made to the appointed agency and will be considered only once you have enough credited points available for redemptions.</li>
                        <li>18. XYZ India has the right to ask for furnishing the true copies of the invoices for the product purchased by the retailers/dealers</li>
                        <li>19. XYZ India reserves the right to change, modify or discontinue the program at any given point of time without assigning any reason(s) for the same.</li>
                        <li>20. All products featured in the rewards catalog are subject to availability of the goods and supplier warranties restrictions at the time of redemption. XYZ India nor its managing agency provides no warranty (whether expressly or implied) whatsoever with respect to the product/services acquired under the rewards program.</li>
                        <li>21. XYZ India or its managing agency reserves the right to cancel, change or substitute any reward at any time without any prior notice.</li>
                        <li>22. Redemption request once given cannot be cancelled or withdrawn or changed. On redemption, the rewards points would automatically be subtracted from the accumulated balance.</li>
                        <li>23. Computation of the reward mechanics shall be final, conclusive and binding on the participating dealers and will not be liable to be disputed or questioned.</li>
                        <li>24. The participating partners have to ensure that they furnish information in its true form and any wrongly represented information will result in permanent disqualification, from the program and schemes run by XYZ India.</li>
                        <li>25. All points will be accrued and credited as per eligibility until the end of the program – 31st December 2015. All points have to be redeemed before 28th February 2016, post which all the points credited will automatically lapse.</li>
                        <li>26. All disputes will be settled under the Bangalore jurisdiction.</li>
                        <li>27. All the retailers/dealers wanting to participate has to login to the program website http://www.bluerewards.in & click the Accept tab to confirm their participation.
                            I have fully read and understood all the above terms & conditions of the program, and I hereby confirm my acceptance of the same.</li>
                        <li></li> </br>


        </div>
                    <div>
                        <input type="button" class="btn btn-info" value="Accept" ng-click="terms_condition_updt();">
                    </div>
    </div>
</div>
        </div>
     </div>
</div>