<div class="shadowbox">
    <div class="">
        <div class="row clearfix">
            <div class="col-md-12 column" >
                <div class="tabbable" id="tabs-693581">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab">UPLOAD VS POS</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <br><br>

        <div class="tablecolorborder">

            <div style="width: auto" class="container profilepage">

                <div class="profileinfo pull-left">

                    <div class="leftsec pull-left">



                        <!--<p>-->
                            <!--&lt;!&ndash;<label class="label_inline">&ndash;&gt;-->
                            <!--&lt;!&ndash;Company</label>&ndash;&gt;-->
                            <!--&lt;!&ndash;<select ng-model="sel_comp_name" class="pure-input-1-4">&ndash;&gt;-->
                            <!--&lt;!&ndash;<option value="Select Company">Select Company</option>&ndash;&gt;-->
                            <!--&lt;!&ndash;<option value="schneider">Schneider</option>&ndash;&gt;-->
                            <!--&lt;!&ndash;</select>&ndash;&gt;-->
                            <!--<label for="material" class="label_inline">-->
                            <!--</label>-->
                            <!--<label style="width: auto; font-weight: normal" class="label_inline"> <input type="radio" name="status"  ng-model="status" value="pending"> Pending</label>-->
                            <!--<label style="width: auto; font-weight: normal" class="label_inline">  <input type="radio" name="status" ng-model="status" value="Verified & Approved"> Verified & Approved</label>-->
                            <!--<label style="width: auto; font-weight: normal" class="label_inline"> <input type="radio" name="status"  ng-model="status" value="VST Verification Required"> VST Verification Required</label>-->
                            <!--<label style="width: auto; font-weight: normal" class="label_inline">  <input type="radio" name="status" ng-model="status" value="Rejected"> Rejected</label>-->
                            <!--<label style="width: auto; font-weight: normal" class="label_inline">  <input type="radio" name="status" ng-model="status" value="All"> All</label>-->


                        <!--</p>-->


                    </div>

                </div>

                <br>

                <div class="row clearfix">
                    <div class="col-md-12 column" >

                        <p style="margin-bottom: 20px">

                            <datalist id="all_comp_name_list">
                                <option data-ng-repeat="ttl in comp_name_list_new" value="{{ttl.company_name}}">
                            </datalist>

                            <label class="label_inline">
                                SI Name </label>
                            <!--<input type="text" style="width:300px" class="form-control" data-ng-model="company_name" list="all_comp_name_list" placeholder=" SI Name" title="SI Name" ng-keyup='get_autocomplete_values()'  ng-blur='get_invoce_by_comp_name()'>-->
                            <input type="text" style="width:300px" class="form-control" data-ng-model="company_name" list="all_comp_name_list" placeholder=" SI Name" title="SI Name" ng-keyup='get_autocomplete_values_new()' ng-change="get_si_details()"  ng-blur='get_invoce_by_comp_name()'>

                        </p>

                        <label class="label_inline">
                            Current Status: </label>

                        <p style="margin-bottom: 20px">

                            <label>POSx - FGPPP:
                                <input type="checkbox" ng-model="POSxFGPPP" >
                            </label>&nbsp;&nbsp;&nbsp;

                            <label>POSx - NON FGPPP:
                                <input type="checkbox" ng-model="POSxNONFGPPP">
                            </label>
                            &nbsp;&nbsp;&nbsp;
                            <label>POSn - FGPPP:
                                <input type="checkbox" ng-model="POSnFGPPP">
                            </label>
                            &nbsp;&nbsp;&nbsp;
                            <label>POSn - NON FGPPP:
                                <input type="checkbox" ng-model="POSnNONFGPPP" >
                            </label>
                            &nbsp;&nbsp;&nbsp;
                            <label>ENTx:
                                <input type="checkbox" ng-model="ENTx">
                            </label>
                            &nbsp;&nbsp;&nbsp;
                            <label>ENTn:
                                <input type="checkbox" ng-model="ENTn">
                            </label>
                            &nbsp;&nbsp;&nbsp;
                            <label>Only FGPPP:
                                <input type="checkbox" ng-model="Only_FGPPP">
                            </label>


                        </p>

                        <label class="label_inline">
                            Previous Status: </label>



                        <p style="margin-bottom: 20px">

                            <label>
                                {{previous_status}}
                            </label>

                        </p>




                        <p style="margin-bottom: 20px">

                            <label class="label_inline">
                                Month </label>

                            <select class="form-control" style="width: 323px;height: auto;margin-top:0px;"  ng-model="month"  class="pure-input-1-4">
                                <option value="">Select Month</option>
                                <option value="April">April</option>
                                <option value="May">May</option>
                                <option value="June">June</option>
                                <option value="July">July</option>
                                <option value="August">August</option>
                                <option value="September">September</option>
                                <option value="October">October</option>
                                <option value="November">November</option>
                                <option value="December">December</option>
                                <option value="cumulative">cumulative</option>
                            </select>



                        </p>
                        <button type="button" class="btn1 btn-success"  ng-click= "get_details()" >Details</button>
                    </div>


                </div>

                <br>
                <br>


                <!--<div style="width: auto" class="container">-->
                <!--<div class="box_top">-->
                <!--<span class="heading">INVOICE DETAILS</span>-->
                <!--</div>-->
                <!--</div>-->
                <div class="row clearfix">
                    <div class="col-md-12 column" >
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th style="background-color:#5591F5;color: #fff;">
                                    <a href="" style="color: #FFFFFF !important;" ng-click="predicate = 'uploaded_month'; reverse=!reverse">MONTH</a>
                                </th>
                                <th style="background-color:#5591F5;color: #fff;">
                                    <a href="" style="color: #FFFFFF !important;" ng-click="predicate = 'total_sale'; reverse=!reverse">INVOICE AMOUNT EXCL. VAT</a>
                                </th>
                                <th style="background-color:#5591F5;color: #fff;">
                                    <a href="" style="color: #FFFFFF !important;" ng-click="predicate = 'pos_amount'; reverse=!reverse">POS</a>
                                </th>
                                <th style="background-color:#5591F5;color: #fff;">
                                    <a href="" style="color: #FFFFFF !important; text-align: center;" ng-click="predicate = 'balance_amount'; reverse=!reverse">AMOUNT BALANCE</a>
                                </th>
                                <th style="background-color:#5591F5;color: #fff;">
                                    <a href="" style="color: #FFFFFF !important; text-align: center;"></a>
                                </th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="inv in uploaded_data  | orderBy:predicate:reverse">
                                <td>
                                    {{inv.uploaded_month}}
                                </td>
                                <td>
                                    {{inv.total_sale | number:2}}
                                </td>
                                <td>
                                    <input type="number" class="form-control"  placeholder="POS" ng-disabled="postxt" ng-keydown="numeric_only($event)" ng-change="get_balance_amount()" ng-model="inv.pos_amount" >
                                </td>
                                <td>
                                    {{inv.balance_amount | number:2}}
                                </td>

                                <td>
                                    <button type="button" class="btn1 btn-success" ng-disabled="detailsbtn" ng-click="insert_pos_data()">Submit</button>

                                </td>
                            </tr>

                            <tr style="border-bottom:dotted #000 2px;height:30px;text-align: center" >

                                <td>Total Excl. Vat Amount</td>
                                <td>{{tot_amount | number:2}}</td>
                                <td>Total Balance Amount</td>
                                <td>{{tot_bal_amount | number: 2}}</td>

                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>


                <!--<div style="width: auto" class="container">-->
                <!--<div class="tablecolorborder">-->

                <!--<br />-->
                <!--<table width="100%" >-->
                <!--<tr class="trdiv" style="height: 30px;">-->
                <!--<td class="tddiv">-->
                <!--<a href="" style="color: #FFFFFF !important;" ng-click="predicate = 'invoice_date'; reverse=!reverse">INVOICE DATE</a>-->
                <!--</td>-->

                <!--<td class="tddiv">-->
                <!--<a href="" style="color: #FFFFFF !important;" ng-click="predicate = 'invoice_number'; reverse=!reverse">INVOICE NUMBER</a>-->
                <!--</td>-->

                <!--<td class="tddiv">-->
                <!--<a href="" style="color: #FFFFFF !important; text-align: center;" ng-click="predicate = 'invoice_amount'; reverse=!reverse">INVOICE TOTAL</a>-->
                <!--</td>-->
                <!--<td class="tddiv">-->
                <!--<a href="" style="color: #FFFFFF !important; text-align: center;" ng-click="predicate = 'company_name'; reverse=!reverse">SI Name</a>-->
                <!--</td>-->
                <!--<td class="tddiv">-->
                <!--<a href="" style="color: #FFFFFF !important; text-align: center;" ng-click="predicate = 'status'; reverse=!reverse">STATUS</a>-->
                <!--</td>-->
                <!--<td class="tddiv">-->
                <!--INVOICE LINK-->
                <!--</td>-->


                <!--</tr>-->
                <!--<tr style="border-bottom:dashed #000 2px;height:30px; text-align: center;" data-ng-repeat="inv in invoice  | orderBy:predicate:reverse">-->

                <!--<td>-->
                <!--{{inv.invoice_date| date :"dd/MM/yyyy" }}-->
                <!--</td>-->

                <!--<td>-->
                <!--<a href="" style="color: #000000 !important;" ng-click="get_duplicate_invoice_list(inv.invoice_number);" title="Check Duplicate Invoice">{{inv.invoice_number}}</a>-->
                <!--</td>-->

                <!--<td>-->
                <!--{{inv.invoice_amount}}-->
                <!--</td>-->
                <!--<td>-->
                <!--{{inv.company_name}}-->
                <!--</td>-->
                <!--<td>-->
                <!--{{inv.status}}-->
                <!--</td>-->
                <!--<td>-->
                <!--<button type="button" class="btn btn-success" ng-click= "invoice_details_by_number(inv.claim_id)" >Details</button>-->
                <!--<img ng-click="download_invoice(inv.supporting_doc);" style="cursor: pointer;" src="images/download.png">-->
                <!--</td>-->


                <!--</tr>-->

                <!--</table>-->

                <!--</div>-->

                <!--</div>-->
            </div>
        </div>
    </div>
</div>

